@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

:root {
    /*Colors Palette*/
    --sky-blue-color: #4594D9;
    --blue-color: #034C8C;
    --dark-blue-color: #1C3661;
    --light-gray-color: #E6E6E6;
    --white-color: #FFFFFF;
    

    /* Fonts */
    --ubuntu-font: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ubuntu-font);
    scroll-behavior: smooth;
}


/* !--------------- Starts Navbar Styling -------------- */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 1rem 2rem;

    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.navbar.sticky {
    padding: 1rem 2rem;
}
.navbar .max-width {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-rame {
    height: 100%;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li .menu-btn {
    position: relative;
    display: block;
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}

.navbar .menu li .menu-btn::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 25px;
    bottom: 0;
    left: 0;
    background-color: var(--blue-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar .menu li .menu-btn:hover::before {
    transform: scaleX(1);
}
.navbar.sticky .menu li .menu-btn:hover {
    color: var(--blue-color);
}

.navbar .bars-btn {
    color: #000;
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}

.navbar .ingresar-btn {
    width: 120px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    display: block;
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}

.navbar .donar-btn {
    width: 120px;
    background-color: var(--blue-color);
    color: var(--white-color) !important;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    display: block;
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}
/* !--------------- Finishes Navbar Styling -------------- */


/* !--------------- Starts Unirse (SECTION 1) Styling -------------- */
.section1-unirse {
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    background: url("./img/group-of-business-executives-using-laptop-at-their-desk\ 1.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-unirse .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section1-unirse .container {
    padding: 50px;
    width: 580px;
    height: max-content;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 0 90px 0 90px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.section1-unirse .container .title {
    font-weight: 700;
    font-size: 5.5rem;
    color: var(--blue-color);
}

.section1-unirse .container .description {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 150.9%;
    color: #000000;
}

.section1-unirse .container .unirse-btn {
    width: 200px;
    padding: 10px;
    background: var(--blue-color);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 30px;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
}
/* !--------------- Finishes Unirse (SECTION 1) Styling -------------- */


/* !--------------- Starts Ser Parte Reasons (SECTION 2) Styling -------------- */

/*
* SECTION 2 STYLING GOES HERE
* ASSIGNED TO: Mario Chavez
*/

/* !--------------- Finishes Ser Parte Reasons (SECTION 2) Styling -------------- */


/* !--------------- Starts Ser Parte (SECTION 3) Styling -------------- */

/*
* SECTION 3 STYLING GOES HERE
* ASSIGNED TO: Mario Chavez
*/

/* !--------------- Finishes Ser Parte (SECTION 3) Styling -------------- */


/* !--------------- Starts Ingresar (SECTION 4) Styling -------------- */

/*
* SECTION 4 STYLING GOES HERE
* ASSIGNED TO: Andrés Campos
*/

/* !--------------- Finishes Ingresar (SECTION 4) Styling -------------- */


/* !--------------- Starts Inkua Números (SECTION 5) Styling -------------- */

/*
* SECTION 5 STYLING GOES HERE
* ASSIGNED TO: Erick Arias
*/

/* !--------------- Finishes Inkua Números (SECTION 5) Styling -------------- */


/* !--------------- Starts Partners (SECTION 6) Styling -------------- */
.section6-partners {
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6-partners .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6-partners .container {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section6-partners .container .logo-container {
    padding: 30px 10px;
}

.section6-partners .container .logo-container .partner {
    height: 100%;
}
/* !--------------- Finishes Partners (SECTION 6) Styling -------------- */


/* !--------------- Starts Newsletter (SECTION 7) Styling -------------- */

/*
* SECTION 7 STYLING GOES HERE
* ASSIGNED TO: Debora Cuestas
*/

/* !--------------- Finishes Newsletter (SECTION 7) Styling -------------- */


/* !--------------- Starts Footer (FOOTER - SECTION 8) Styling -------------- */

/*
* SECTION 8 STYLING GOES HERE
* ASSIGNED TO: Pedro Gascon
*/

/* !--------------- Finishes Footer (FOOTER - SECTION 8) Styling -------------- */