/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* └─────────────────────────────────────────────────────────┘ */

/*  Header - Sección Navbar  */

header {
    height: 970px;
}

.header-titulo {
    width: 442px;
}

.header-subtitulo {
    width: 440px;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Federico Peralta                                      │ */
/* │ ► Luis Romano                                           │ */
/* │ ► Luis Fernando Callisaya Surco                         │ */
/* └─────────────────────────────────────────────────────────┘ */

.about-us-main p {
    font-size: 1.5vw;
    color: var(--color-cinco);
    max-width: 100%;
    font-family: var(--font-family-poppins);
    font-weight: 500;
    text-align: justify;
    height: auto;
}

.about-us-main-img {
    display: flex;
    max-width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
}


.about-us-main {
    margin-bottom: 100px;
}

.about-us-history-img {
    max-width: 150%;
}

.history-titulo {
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 570;
    margin-bottom: 50px;
}
    
/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY MOBILE ███████████████████████ ║
    ║ ████████████████████████████ 320 - 480  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px ) and (max-width: 480px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /*  Header - Sección Navbar  */

    header {
        height: auto;
    }

    /* Header - Títulos */

    .header-titulo {
        width: 80%;
    }

    .header-subtitulo {
        width: 190px;
        text-align: justify;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Peralta                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .about-us-main p {
        font-size: 90%;
    }

    .about-us-main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .history-titulo {
        font-size: 250%;
    }

    .about-us-text {
        font-size: 120%;
    }

    .about-us-main-img {
        margin-bottom: 20px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}




/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ████████████████████████████ 481 - 992  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px ) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Peralta                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .about-us-main p {
        font-size: 120%;
    }

    .about-us-main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-us-text {
        margin-bottom: 30px;
    }

    .history-titulo {
        font-size: 250%;
    }

    .about-us-main-img {
        margin-bottom: 30px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}