/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* └─────────────────────────────────────────────────────────┘ */

/*  Header - Sección Navbar  */

header {
    height: 970px;
}

.header-titulo {
    width: 442px;
}

.header-subtitulo {
    width: 440px;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Federico Peralta                                      │ */
/* │ ► Luis Romano                                           │ */
/* │ ► Luis Fernando Callisaya Surco                         │ */
/* └─────────────────────────────────────────────────────────┘ */

.about-us-main p {
    font-size: 1.3vw;
    color: var(--color-cinco);
    max-width: 100%;
    font-family: var(--font-family-poppins);
    font-weight: 500;
    text-align: justify;
    height: auto;
    padding: 0px 40px;
    
}

.about-us-main-img {
    display: flex;
    max-width: 90%;
    margin-bottom: 50px;
    border-radius: 10px;
}


/*La regla @media screen permite generar diferentes dispocion segun el tamño de la pantall*/


/*posicion en mobile*/
@media screen and (max-width: 480px) {
    .position-of-image1 {
      position: relative;
      width: 90%;
      margin-left: 10%;
      margin-top: 10%;

    }
    .about-us-text1 {
        font-size: 120%;
        margin-bottom: 30px;
        margin-top: 10%;
        left: 50%;
        
    }
    .history-titulo {
        color: var(--color-dos);
        font-family: var(--font-family-lato);
        font-weight: 570;
        margin-bottom: 5%;
        font-size: 200%;
        margin-left: 13%;
    }

    .position-of-image2 {
        position: relative;
        width: 90%;
        margin-left: 10%;
  
      }
      .about-us-text2 {
        font-size: 120%;
        margin-bottom: 30px;
        margin-top: 0px;
        left: 50%;
          
      }
  }
  /*posicion en desktop*/
  @media screen and (min-width: 481px) {
    .position-of-image1 {
       position: relative;
       margin-bottom: 5%;
       margin-top: 50px;
       left: 45%;
       right: auto;    
    }
    .about-us-text1 {
        position: relative;
        font-size: 120%;
        margin-bottom: 5%;
        margin-top: 50px;
        left: auto;
        right: 45%;
        margin-left: 10%;
       
    
    }

    .history-titulo {
        color: var(--color-dos);
        font-family: var(--font-family-lato);
        font-weight: 570;
        margin-bottom: 2%;
        
        margin-left: 10%;
    }
    
    .position-of-image2 {
        position: relative;
        margin-bottom: 0%;
        margin-top: 0%;
        left: auto;
        right: 45%;
        margin-left: 12%;

    }
    .about-us-text2 {

        position: relative;
        font-size: 120%;
        margin-bottom: 0%;
        margin-top: 0%;
        left: 45%;
        right: auto; 
    }
   
  }
.about-us-main {
    margin-bottom: 20px;
    
}

.about-us-history-img {
    max-width: 150%;
}


    
/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY MOBILE ███████████████████████ ║
    ║ ████████████████████████████ 320 - 480  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px ) and (max-width: 480px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /*  Header - Sección Navbar  */

    header {
        height: auto;
    }

    /* Header - Títulos */

    .header-titulo {
        width: 80%;
    }

    .header-subtitulo {
        width: 190px;
        text-align: justify;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Peralta                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .about-us-main p {
        font-size: 90%;

    }

    .about-us-main {
        margin-left: 0px;
        margin-right: 0px; 
    }
  

    .about-us-main-img {
        margin-bottom: 20px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}




/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ████████████████████████████ 481 - 992  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px ) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Peralta                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .about-us-main p {
        font-size: 120%;
    }

    .about-us-main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .history-titulo {
        font-size: 250%;
    }

    .about-us-main-img {

        margin-bottom: 30px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}