/* General Settings */

:root {

    /* Font Family */
    --font-family-lato: 'Lato', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;

    /* Colors */
    --color-uno: #FAFAFB;
    --color-dos: #003A7D;
    --color-tres: #F8D714;
    --color-cuatro: #005BBB;
    --color-cinco: #001C3D;
    --color-seis: #004EAA;
    --color-siete: #0C4180;
    --color-ocho: #02397A;
    --color-nueve: #94C0F3;

    /* Efecto de hover */

    --shadow-01: 0 0 10px var(--color-uno);
    --shadow-02: 0 0 10px var(--color-tres);
    --shadow-03: 0 0 10px var(--color-cuatro);

    /* Margenes Laterales */
    --margin-desktop-1: 5.06%;
    --margin-desktop-2: 13.06%;
    --margin-mobile: 4%;

}

/* Estilos generales */

html,
body {
    position: relative;
    height: 100%;
    background-color: var(--color-uno);
    z-index: -3;
    box-sizing: border-box;
}

.contenttitles {
    padding-left: var(--margin-desktop-2);
    padding-top: 70px;
    padding-bottom: 30px;
}

.contenttitles__h3 {
    display: unset;
    font-family: var(--font-family-lato);
    color: var(--color-dos);
    font-weight: 700;
    font-size: 2rem;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}

.nav-effect:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--color-uno);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

.nav-effect:hover:after {
    color: var(--color-uno);
    transform: scaleX(1);
}

.nav-effect:hover {
    color: var(--color-uno);
}

.nav-btn-effect-01:hover {
    color: var(--color-uno);
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--color-uno);
    border: 2px solid var(--color-uno);
    text-shadow: var(--shadow-01);
    box-shadow: var(--shadow-01);
    transition: all ease 0.5s;
}

.nav-btn-effect-02:hover {
    color: var(--color-dos);
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;
}

.nav-btn-effect-03:hover {
    color: rgba(0, 0, 0, 0.7);
    background: var(--color-uno);
    box-shadow: var(--shadow-01);
    transition: all ease 0.5s;
}

/* Swiper Carousels */

.swiper-pagination-bullet {
    background-color: var(--color-nueve);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 25px;
    background-color: var(--color-ocho);
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* └─────────────────────────────────────────────────────────┘ */

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████ DESKTOP 2 █████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

/*  Header - Sección Navbar  */

.navbar-brand-logo {
    left: 100px;
}

.navbar-contenedor {
    padding-top: 20px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.navbar-titulo {
    margin-left: 0;
    font-family: var(--font-family-lato);
    color: var(--color-uno);
}

.navbar-logo {
    margin-left: var(--margin-desktop-2)
}

.navbar-contenido {
    font-family: var(--font-family-lato);
    margin-right: var(--margin-desktop-2);
}

.navbar-link {
    color: var(--color-uno);
}

.navbar-about-us {
    margin-right: 61px;
}

.navbar-home {
    margin-right: 24px;
}

.navbar-need-help {
    margin-right: 16px;
    color: var(--color-uno);
    border: 2px solid var(--color-uno);
    background-color: transparent;
    border-radius: 8px;
    padding-left: 34px;
    padding-right: 34px;
}

.navbar-donate {
    font-family: var(--font-family-lato);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-uno);
    border-radius: 8px;
    font-weight: 900;
    color: var(--color-dos);
    background-color: var(--color-tres);
    padding-left: 34px;
    padding-right: 34px;
}

/*  Header - Sección idiomas  */

.navbar-ykp {
    color: var(--color-uno);
    border-radius: 8px 0 0 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--color-uno);
    width: 67.742px;
    border: 0;
}

.navbar-en {
    color: var(--color-uno);
    border-radius: 0 8px 8px 0;
    font-weight: 700;
    color: var(--color-dos);
    background-color: var(--color-tres);
    width: 67.742px;
    border: 0;
}

/*  Header - Sección Títulos  */

.header-div {
    margin-left: var(--margin-desktop-2);
}

.header-titulo {
    color: var(--color-tres);
    font-size: 100px;
    font-family: var(--font-family-lato);
    font-weight: 700;
    line-height: 120px;
    width: 442px;
}

.header-subtitulo {
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Poppins';
    text-shadow: 0 0 5px #000000;
    width: 440px;
}

.header-subtitulo strong {
    font-size: 27px;
    font-weight: bold;
}

/* Header - Botón donate */

.home-btn {
    display: flex;
    background-color: var(--color-tres);
    border-color: var(--color-tres);
    position: absolute;
    width: 254px;
    height: 64px;
    border-radius: 8px;
    color: var(--color-dos);
    font-size: 28px;
    font-family: 'Lato';
    font-weight: 900;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.home-btn:hover {
    color: var(--color-dos);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;
}

/* Header - Sección Background */

.navbar-contenedor-principal {
    height: 800px;
}

.header-background-imagen {
    position: absolute;
    background: #02397A;
    object-fit: cover;
    width: 100%;
    height: 970px;
    top: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}

.header-background-mascara {
    position: absolute;
    width: 100%;
    top: 0;
    height: 970px;
    background: #02397A;
    border: 1px solid #000000;
    z-index: -2;
    mix-blend-mode: multiply;
}

/* Header - Efecto wave*/

.wave {
    position: absolute;
    width: 100%;
    height: 160px;
    top: 812px;
}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ █████████████████████████████ MOBILE ██████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px) and (max-width: 480px) {

    .mobile-navbar-container {
        padding-top: 8px;
    }

    /* Header - Navbar menu button */

    .mobile-navbar-container {
        background-color: var(--color-cinco) !important;
    }

    .dropdown-toggle-nav {
        padding-left: 20px;
        border-radius: 0;
        margin-left: -15px;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .dropdown-navigation {
        left: 0;
        right: 0;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
        --bs-dropdown-border-color: 0;
    }

    .dropdown-navigation[data-bs-popper] {
        margin-top: 0;
    }

    .dropdown-item-nav {
        padding-left: 24px;
        padding-bottom: 10px;
    }

    /* Header - Navbar languages button */

    .dropdown-languages {
        right: 2px;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
    }

    .dropdown-languages[data-bs-popper] {
        left: auto;
    }

    .dropdown-item {
        color: var(--color-uno);
        font-family: var(--font-family-lato);
    }

    /* Header - Opciones */

    .header-options {
        padding-top: 8px;
        color: var(--color-uno);
        height: 60px;
        background-color: var(--color-cinco);
    }
    .QR-container{    
        padding-top: 8px;
        height: 300px;
    }

    .header-options-cuadro {
        margin: auto;
        width: 98%;
        background-color: var(--color-seis);
        border-radius: 10px;
        height: 43px;
    }

    .option-donate {
        display: inline;
        float: left;
        background-color: var(--color-siete);
        font-family: var(--font-family-lato);
        color: var(--color-uno);
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: calc(50% - 4px);
        height: 90%;
        text-align: center;
    }

    .option-need-help {
        display: inline;
        float: right;
        color: var(--color-uno);
        font-family: var(--font-family-lato);
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: calc(50% - 4px);
        height: 90%;
        text-align: center;
        white-space: nowrap;
    }


    /* Header - Encabezado con títulos */

    .tittles-container {
        /*height: 698px;*/
        height: 650px;
    }

    /* Header - Background */

    .bg-home-mobile {
        position: absolute;
        width: 100%;
        height: 700px;
        top: 54px;
        z-index: -1;
        mix-blend-mode: multiply;
        background-blend-mode: luminosity;
    }

    /* Header - Máscara de color azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        height: 758px;
        top: 0;
        background: #02397A;
        border: 0px solid;
        z-index: -2;
        mix-blend-mode: multiply;
    }

    /* Header - Efecto de wave */

    .wave-mobile {
        position: absolute;
        top: 720px;
        width: 100%;
    }

    /* Header - Títulos */

    .titulos {
        margin-left: 4%;
    }

    .header-titulo {
        font-size: 56px;
        width: 80%;
        line-height: 56px;
        padding-top: 50px;
    }

    .header-subtitulo {
        font-family: var(--font-family-poppins);
        font-weight: 200;
        font-size: 17px;
        width: 65%;
        line-height: 24px;
        margin-top: 25px;
    }

    .header-subtitulo strong {
        font-size: 17px;
        font-weight: 600;
        width: 80%;
        line-height: 24px;
    }

    .header-subtitulo-languageC{
        display: inline-block;
    }

    .home-btn {
        width: 150px;
        height: 38px;
        border-radius: 8px;
        color: var(--color-dos);
        font-size: 19px;
        margin-top: 40px;
    }

    .home-btn:hover {
        font-size: 20px;
    }
    
}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ █████████████████████████████ TABLET ██████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* Header - Navbar */

    .navbar-mobile {
        margin-left: var(--margin-desktop-1);
        margin-right: 0;
    }

    .navbar-logo {
        margin-left: 0;
        width: 70px;
    }

    .navbar-contenedor {
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .contenedor-idiomas {
        padding: 0;
    }

    .navbar-titulo {
        display: none;
    }

    .navbar-contenido {
        font-family: var(--font-family-lato);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-home {
        font-size: 0.9em;
        margin-right: 10px;
    }

    .navbar-about-us {
        font-size: 0.9em;
        margin-right: 2%;
        white-space: nowrap;
        margin-right: 30px;
    }

    .navbar-need-help {
        width: 130px;
        margin-right: 2%;
        border: 1px solid var(--color-uno);
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .navbar-donate {
        width: 120px;
        color: var(--color-uno);
        border-radius: 8px;
        font-weight: 900;
        color: var(--color-dos);
        background-color: var(--color-tres);
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        margin-left: 10px;
    }

    /*  Header - Sección idiomas  */

    .navbar-en {
        margin-right: 0;
    }

    /* Header - Sección Títulos */

    .header-div {
        margin-left: var(--margin-desktop-1);
    }

    .header-titulo {
        font-size: 80px;
        font-family: var(--font-family-lato);
        font-weight: 700;
        line-height: 100px;
        width: 442px;
    }

    .header-subtitulo {
        font-size: 20px;
        font-family: 'Poppins';
        text-shadow: 0 0 5px #000000;
        width: 440px;
    }

    .header-subtitulo strong {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }

    /* Header - Background */

    .header-background-imagen {
        height: 870px;
    }

    /* Header - Máscara azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        top: 0;
        height: 870px;
        background: #02397A;
        border: 1px solid #000000;
        z-index: -2;
        mix-blend-mode: multiply;
    }

    /* Header - Efecto wave*/

    .wave {
        position: absolute;
        width: 100%;
        height: 130px;
        top: 772px;
    }

}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████████ DESKTOP 1 ████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 993px) and (max-width: 1299px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /*  Header - Sección Navbar  */

    .navbar-logo {
        margin-left: var(--margin-desktop-1);
    }

    .navbar-contenido {
        margin-right: var(--margin-desktop-1);
    }

    /*  Header - Sección Títulos  */

    .header-div {
        margin-left: var(--margin-desktop-1);
    }

}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */

/* Estilos del Chatbot en Desktop y tablet */

/* Chatbot - sección botón */

.chatbot-button {
    position: fixed;
    right: 3%;
    bottom: 50%;
    background-color: transparent;
    background-image: url("../img/chatbot/btn-chatbot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    border: 1px transparent solid ;
    width: 70px;
    height: 70px;
    z-index: 3;
}

/* Chatbot - seccion ventana - containers */

#chatbot-ventana-container {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 3%;
    margin-bottom: 10px;
    background-color: white;
    width: 350px;
    height: 450px;
    z-index: 5;
    border-radius: 4%;
    overflow: hidden;
    border: solid 2px #8EBFF9;
    box-shadow: 0px 0px 5px black;
}

.chatbot-seccionchat {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    padding: 20px;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatbot-seccionwrite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    background-color: #F2F2F2;
}

.chatbot-seccionwrite:hover {
    cursor: pointer;
}

/* Chatbot - seccion ventana - chat */

.chatbot-closeicon {
    position: absolute;
    font-size: 40px;
    right: 15px;
    top: 15px;
    color: rgba(223, 21, 21, 0.856);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    transition: color 0.5s;
}

.chatbot-closeicon:hover {
    cursor: pointer;
}

.chatbot-messagechoose {
    display: none;
    background-color: #8EBFF9;
    color: black;
    font-family: var(--font-family-poppins);
    font-weight: 400;
    bottom: 0;
    padding: 10px;
    width: 250px;
    margin-left: 40px;
    border-radius: 15px 15px 15px 15px;  
}

.chatbot-messagechoose:hover {
    cursor: pointer;
}

.chatbot-messageuser {
    display: block;
    background-color: #02397A;
    color: #FAFAFB;
    font-family: var(--font-family-poppins);
    font-weight: 200;
    bottom: 0;
    padding: 15px;
    width: 250px;
    margin-left: 40px;
    margin-bottom: 0;
    margin-top: 1em;
    border-radius: 15px 15px 0 15px;
}

.chatbot-messagebot {
    display: block;
    background-color: #FFD500;
    color: #02397A;
    font-family: var(--font-family-poppins);
    font-weight: 400;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 1em;
    width: 250px;
    border-radius: 15px 15px 15px 0;
}

.chatbot-messagewaiting {
    display: none;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 28px 15px 20px 15px;
    width: 80px;
    margin-bottom: 0;
    margin-top: 1em;
    border-radius: 15px;
    overflow: hidden;
    animation: burbuja 1.5s infinite;
}

.waiting-circle {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 5px;
    color: #BCBCBC;
    animation: puntos 1.5s infinite;
}

@keyframes burbuja {
    from {
        width: 70px;
        padding-left: 10px;
        padding-bottom: 20px;
        padding-top: 28px;
        margin-left: 0;
    }

    50% {
        width: 75px;
        padding-left: 13px;
        padding-bottom: 15px;
        padding-top: 33px;
        margin-left: 5px;
    }

    to {
        width: 70px;
        padding-left: 10px;
        padding-bottom: 20px;
        padding-top: 28px;
        margin-left: 0;
    }
}

@keyframes puntos {
    from {
        font-size: 6px;
    }

    50% {
        font-size: 7px;
    }

    to {
        font-size: 6px;
    }
}

.entrychat {
    animation: entrychat 0.5s;
}

@keyframes entrychat {
    from {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    40% {
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 16.2px;
    }

    60% {
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 16.2px;
    }

    to {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }
}

/* Chatbot - seccion ventana - choose */

.chatbot-seccionchoose {
    padding-top: 8px;
    padding-left: 10px;
    background-color: white;
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

.chatbot-choosetext {
    display: inline-block;
    font-family: var(--font-family-poppins);
    color: #B1AAAACC;
}

.chatbot-chooseicon {
    display: inline;
    float: right;
    width: 20px;
    margin-top: 3px;
}

.send {
    display: inline;
    margin-right: 8px;
    margin-left: 5px;
}

/* Extra Effects - Focus */

#focus {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    opacity: 0.6;
}

@media (max-width: 319px ) {
    body { display: none; }
}

@media (min-width: 320px ) and (max-width: 480px) {
    .mobile { display: block; }
    .desktop { display: none; }

    /* Estilos generales en Mobile */

    .contenttitles {
        padding-left: var(--margin-mobile);
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .contenttitles__h3 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    /* Estilos Chatbot en Mobile */

    .chatbot-button {
        background-image: url("../img/chatbot/btn-chatbot-mobile.png");
        width: 60px;
        height: 60px;
    }

    /* Chatbot - Ventana de chat completa en Mobile */

    #chatbot-ventana-container {
        width: 94%;
        height: 80%;
        left: 0;
        right: 0;
        margin-left: 3%;
    }

}

@media (min-width: 481px ) and (max-width: 992px) {
    .mobile { display: none; }
    .desktop { display: block; }

    /* Estilos generales en Tablet */
    .contenttitles {
        padding-left: var(--margin-desktop-1);
    }

}

@media (min-width: 993px ) and (max-width: 1299px) {
    .mobile { display: none; }
    .desktop { display: block; }
}

@media(min-width: 1300px) {
    .mobile { display: none; }
    .desktop { display: block; }
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego Valentino Pardo Yepez                           │ */
/* │ ► Santiago Elias Carranza                               │ */
/* │ ► Manuel Florez Lopez                                   │ */
/* └─────────────────────────────────────────────────────────┘ */

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ █████████████████████████████  MOBILE █████████████████████████████ ║
    ║ ███████████████████████████ hasta 499px  ██████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/
footer {
    background-color: var(--color-cinco);
    height: 140px;
    width: 100%;
    overflow-x: hidden;
}
.footer-desktop {
    display: none;
}
.footer-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.footer-mobile .footer-column-one {
    width: 60%;
    height: 100px;
    padding-right: 10px;
}
.footer-mobile .footer-column-one .footer-sm-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    max-width: 180px;
}
.footer-mobile .footer-column-one .footer-sm-box .footer-sm-item .footer-logo-sm {
    width: 25px;
    height: 25px;
}
.footer-mobile .footer-column-one .footer-logo-box {
    display: flex;
    align-items: center;
}
.footer-mobile .footer-column-one .footer-logo-box .footer-logo-img {
    background-image: url('../img/Layout/footer_logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 2px;
}
.footer-mobile .footer-column-one .footer-logo-box .footer-span {
    font-size: 0.7rem;
    font-weight: 400;
    color: white;
}
.footer-mobile .footer-column-two {
    width: 40%;
    height: 100px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.footer-mobile .footer-column-two .footer-donate-btn {
    background-color: var(--color-tres);
    color: var(--color-dos);
    width: 110px;
    border-radius: 7px;
    font-size: 1rem;
    font-family: var(--font-family-lato);
    padding: 8px 6px;
    font-weight: 900;
    display: block;
    margin-bottom: 15px;
    height: 2.4rem;
}
.footer-mobile .footer-column-two .footer-need-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 110px;
    border-radius: 7px;
    font-size: 1rem;
    padding: 6px 6px;
    display: block;
    height: 2.4rem;
}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY PHABLET ██████████████████████ ║
    ║ ██████████████████████████  desde - 500px  ████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/
@media (min-width: 500px) {
    footer {
        background-color: var(--color-cinco);
        height: 210px;
    }
    .footer-mobile {
        justify-content: center;
        padding: 20px 40px;
    }
    .footer-mobile .footer-column-one {
        max-width: 288px;
    }
    .footer-mobile .footer-column-one .footer-logo-box .footer-logo-img {
        width: 60px;
        height: 60px;
    }
    .footer-mobile .footer-column-one .footer-logo-box .footer-span {
        font-size: 0.8rem;
    }
    .footer-mobile .footer-column-two {
        max-width: 192px;
    }
}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ██████████████████████████ desde - 750px  █████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/
@media (min-width: 750px) {
    footer {
        height: 210px;
    }
    .footer-mobile {
        display: none;
    }
    .footer-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        padding: 40px 60px;
    }
    .footer-desktop .footer-sm-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-desktop .footer-sm-box .footer-sm-item .footer-logo-sm {
        width: 30px;
        height: 30px;
    }
    .footer-desktop .footer-sm-box .footer-sm-item .footer-span-logo {
        color: white;
        font-size: 0.8rem;
        margin-left: 5px;
    }
    .footer-desktop .footer-hr {
        border-width: 2px;
        width: 100%;
        color: white;
    }
    .footer-nav {
        width: 100%;
    }
    .footer-nav .footer-nav-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
    .footer-nav .footer-nav-ul .footer-nav-li .footer-home-btn {
        display: block;
        align-items: center;
        font-size: 0.9rem;
        color: white;
        margin-right: 5px;
    }
    .footer-nav .footer-nav-ul .footer-nav-li .footer-about-btn {
        display: block;
        align-items: center;
        font-size: 0.9rem;
        color: white;
        margin-right: 25px;
    }
    .footer-nav .footer-nav-ul .footer-nav-li:first-child {
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    .footer-nav .footer-nav-ul .footer-nav-li:first-child .footer-logo-img {
        width: 50px;
        height: 50px;
        background-image: url(../img/Layout/footer_logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 5px;
    }
    .footer-nav .footer-nav-ul .footer-nav-li:first-child .footer-span {
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }
    .footer-donate-btn {
        background-color: var(--color-tres);
        color: var(--color-dos);
        width: 100px;
        font-family: var(--font-family-lato);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-weight: 900;
        padding-left: 34px;
        padding-right: 34px;
        font-size: 1rem;
        padding: 9px 2px;
        display: block;
        height: 41px;
    }
    .footer-need-btn {
        background-color: transparent;
        border: 2px solid var(--color-uno);
        color: var(--color-uno);
        width: 110px;
        border-radius: 8px;
        font-size: 1rem;
        padding: 5px 2px;
        display: block;
        font-size: 1rem;
        padding: 5px 5px;
        padding-top: 6px;
        height: 41px;
    }
}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY DESKTOP ██████████████████████ ║
    ║ ██████████████████████████ desde - 1024px █████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/
@media (min-width: 1024px) {
    footer {
        height: 350px;
    }
    .footer-desktop {
        padding: 50px 100px;
        padding-top: 80px;
    }
    .footer-desktop .footer-sm-box {
        max-width: 1450px;
        margin-bottom: 30px;
    }
    .footer-desktop .footer-sm-box .footer-sm-item .footer-logo-sm {
        width: 40px;
        height: 40px;
    }
    .footer-desktop .footer-sm-box .footer-sm-item .footer-span-logo {
        font-size: 1rem;
        padding-top: 5px;
        margin-left: 7px;
    }
    .footer-desktop .footer-hr {
        border-width: 3px;
        max-width: 1450px;
        margin-bottom: 40px;
    }
    .footer-nav {
        max-width: 1450px;
    }
    .footer-nav .footer-nav-ul {
        gap: 20px;
    }
    .footer-nav .footer-nav-ul .footer-nav-li .footer-home-btn {
        font-size: 1rem;
        margin-right: 15px;
    }
    .footer-nav .footer-nav-ul .footer-nav-li .footer-about-btn {
        font-size: 1rem;
    }
    .footer-nav .footer-nav-ul .footer-nav-li:first-child {
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    .footer-nav .footer-nav-ul .footer-nav-li:first-child .footer-logo-img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    .footer-nav .footer-nav-ul .footer-nav-li:first-child .footer-span {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .footer-donate-btn {
        width: 150px;
        font-family: var(--font-family-lato);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-weight: 900;
        color: var(--color-dos);
        background-color: var(--color-tres);
        padding-left: 34px;
        padding-right: 34px;
        font-size: 1rem;
        padding-top: 10px;
    }
    .footer-need-btn {
        width: 150px;
        color: var(--color-uno);
        border: 2px solid var(--color-uno);
        background-color: transparent;
        border-radius: 8px;
        font-size: 1rem;
        padding: 5px 5px;
        padding-top: 6px;
        height: 41px;
    }
}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ██████████████████████████ Extra Querys ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px) {
    .footer-mobile {
        padding: 40px var(--margin-desktop-1);
    }

    .footer-desktop {
        padding: 40px var(--margin-desktop-1);
        padding-top: 60px;
    }
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■ QUERY FOR HEADER TABLET ■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */

@media (min-width: 481px) and (max-width: 580px) {

    /* Header - Navbar */

    .navbar-contenido {
        font-family: var(--font-family-lato);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-home {
        font-size: 0.9em;
        margin-right: 2px;
    }

    .navbar-about-us {
        font-size: 0.9em;
        margin-right: 2%;
        white-space: nowrap;
        margin-right: 15px;
    }

    .navbar-need-help {
        width: 100px;
        margin-right: 2%;
        border: 1px solid var(--color-uno);
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .navbar-donate {
        width: 100px;
        color: var(--color-uno);
        border-radius: 8px;
        font-weight: 900;
        color: var(--color-dos);
        background-color: var(--color-tres);
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        margin-left: 5px;
    }

}

@media (min-width: 1300px) {
    .footer-desktop {
        padding: 50px var(--margin-desktop-2);
        padding-top: 80px;
    }
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */