/* General Settings */

:root {

    /* Font Family */
    --font-family-lato: 'Lato', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;

    /* Colors */
    --color-uno: #FAFAFB;
    --color-dos: #003A7D;
    --color-tres: #F8D714;
    --color-cuatro: #005BBB;

    /* Margin Left */
    --margin-left: 13.06%;

}

html,
body {
  position: relative;
  height: 100%;
  background-color: var(--color-uno);
  z-index: -3;
}