/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* └─────────────────────────────────────────────────────────┘ */

/*  Header - Sección Navbar  */

.navbar-brand-logo {
    left: 100px;
}

.navbar-contenedor {
    padding-top: 20px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.navbar-titulo {
    margin-left: 0;
    font-family: var(--font-family-lato);
    color: var(--color-uno);
}

.navbar-titulo:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--color-uno);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

.navbar-titulo:hover:after {
    color: var(--color-uno);
    transform: scaleX(1);
}

.navbar-titulo:hover {
    color: var(--color-uno);
}

.navbar-logo {
    margin-left: var(--margin-desktop-2)
}

.navbar-contenido {
    font-family: var(--font-family-lato);
    margin-right: var(--margin-desktop-2);
}

.navbar-link {
    color: var(--color-uno);
}

.navbar-about-us {
    margin-right: 61px;
}

.navbar-about-us:hover {
    color: var(--color-uno);
    text-shadow: var(--text-shadow);
    transition: all ease 0.5s;
}

.navbar-about-us:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--color-uno);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

.navbar-about-us:hover:after {
    color: var(--color-uno);
    transform: scaleX(1);
}

.navbar-home {
    margin-right: 24px;
}

.navbar-home:hover {
    color: var(--color-uno);
    text-shadow: var(--text-shadow);
    transition: all ease 0.5s;
}

.navbar-home:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--color-uno);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

.navbar-home:hover:after {
    color: var(--color-uno);
    transform: scaleX(1);
}

.navbar-need-help {
    margin-right: 16px;
    color: var(--color-uno);
    border: 2px solid var(--color-uno);
    background-color: transparent;
    border-radius: 8px;
    padding-left: 34px;
    padding-right: 34px;
}

.navbar-need-help:hover {
    color: var(--color-uno);
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--color-uno);
    border: 2px solid var(--color-uno);
    text-shadow: var(--shadow-01);
    box-shadow: var(--shadow-01);
    transition: all ease 0.5s;
}

.navbar-donate {
    font-family: var(--font-family-lato);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-uno);
    border-radius: 8px;
    font-weight: 900;
    color: var(--color-dos);
    background-color: var(--color-tres);
    padding-left: 34px;
    padding-right: 34px;
}

.navbar-donate:hover {
    color: var(--color-dos);
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;
}

/*  Header - Sección idiomas  */

.navbar-ykp {
    color: var(--color-uno);
    border-radius: 8px 0 0 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--color-uno);
    width: 67.742px;
    border: 0;
}

.navbar-ykp:hover {
    color: rgba(0, 0, 0, 0.7);
    background: var(--color-uno);
    box-shadow: var(--shadow-01);
    transition: all ease 0.5s;
}

.navbar-en {
    color: var(--color-uno);
    border-radius: 0 8px 8px 0;
    font-weight: 700;
    color: var(--color-dos);
    background-color: var(--color-tres);
    width: 67.742px;
    border: 0;
}

.navbar-en:hover {
    color: var(--color-dos);
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;
}

/*  Header - Sección Títulos  */

.header-div {
    margin-left: var(--margin-desktop-2);
}

.header-titulo {
    color: var(--color-tres);
    font-size: 100px;
    font-family: var(--font-family-lato);
    font-weight: 700;
    line-height: 120px;
    width: 442px;
}

.header-subtitulo {
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Poppins';
    text-shadow: 0 0 5px #000000;
    width: 440px;
}

.header-subtitulo strong {
    font-size: 27px;
    font-weight: bold;
}

/* Header - Botón donate */

.home-btn {
    display: flex;
    background-color: var(--color-tres);
    border-color: var(--color-tres);
    position: absolute;
    width: 254px;
    height: 64px;
    border-radius: 8px;
    color: var(--color-dos);
    font-size: 28px;
    font-family: 'Lato';
    font-weight: 900;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.home-btn:hover {
    color: var(--color-dos);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;
}

/* Header - Sección Background */

.navbar-contenedor-principal {
    height: 800px;
}

.header-background-imagen {
    position: absolute;
    background: #02397A;
    object-fit: cover;
    width: 100%;
    height: 970px;
    top: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}

.header-background-mascara {
    position: absolute;
    width: 100%;
    top: 0;
    height: 970px;
    background: #02397A;
    border: 1px solid #000000;
    z-index: -2;
    mix-blend-mode: multiply;
}

/* Header - Efecto wave*/

.wave {
    position: absolute;
    width: 100%;
    height: 160px;
    top: 812px;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO CHATBOT ■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Manuel Florez                                         │ */
/* └─────────────────────────────────────────────────────────┘ */

.chatbot-button {
    position: fixed;
    right: 3%;
    bottom: 50%;
    background-color: transparent;
    background-image: url("../Image/btn-chatbot-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    border: 1px transparent solid ;
    width: 60px;
    height: 60px;
    z-index: 3;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN CHATBOT ■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Luis Fernando Callisaya Surco                         │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Diego Valentino Pardo Yepez                           │ */
/* └─────────────────────────────────────────────────────────┘ */

.circulo {
    border-radius: 50%;
    border: 5px #02397A solid;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 1600px;
}

.emoji-saludar {
    font-size: 50px;
}

.about-us {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.about-us-texto {
    padding-left: var(--margin-desktop-2);
    padding-right: 54px;
    padding-top: 150px;
    width: 20%;
    font-size: 1.5vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: last baseline;
    color: var(--color-cinco);
}

.about-us-image-imagen {
    display: flex;
    margin-top: 100px;
    margin-right: var(--margin-desktop-2);
    width: 35%;
    height: 35%;
    border-radius: 25px;
}

.about-us-texto-button {
    border: 2px solid var(--color-seis);
    margin-bottom: 10px;
    padding: 10px 2px;
    text-align: center;
    border-radius: 8px;
    width: 25%;
    background-color: white;
    color: #004eaa;
    text-decoration: none;
}

.about-us-texto-button:hover {
    color: var(--color-uno);
    background-color: var(--color-cuatro);
    border: 2px solid var(--color-seis);
    box-shadow: var(--shadow-03);
    transition: all ease 0.5s;
}

.box-about-us {
    flex: auto;
    width: 400px;
    height: 400px;
    margin: 10px;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■ INICIO PATRONS ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Vania Belén Carlos Camones                            │ */
/* │ ► Manuel Florez                                         │ */
/* └─────────────────────────────────────────────────────────┘ */
.body-tittles{
    margin: 20px 0px 12px 15px;
    color: var(--color-ocho);
    font-weight: 500;
}
.desktop-titles{
    display: none;
}
.Carrousel {
    margin-top: 0px;
    height: fit-content;
    display: grid;
    place-items: center;
    width: 100%;
}

.swiper-p {
    padding: 0px;
    margin: 0px;
    height: 280px;
    width: 100%;
}

.swiper-slide-p {
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.swiper-slide-p img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.memberCard {
    background-color: #003A7D;
    width: 145px;
    height: fit-content;
    color: black;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.memberCard-one {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
}

.memberCard .memberImage {
    background-image: url('../Image/Imagen_Reto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 145px;
    height: 145px;
    display: flex;
    justify-content: right;
}

.memberCard .memberImage .memberMoreInfo {
    width: 23px;
    height: 23px;
    background-color: #F8D714;
    color: #003A7D;
    padding: 0px;
    font-size: 1rem;
    border-radius: 12px;
    text-align: center;
    border-radius: 15px;
    margin: 5px;
}

.memberCard .memberImage .memberMoreInfo .i {
    margin: 0px;
}

.memberCard .memberContent {
    color: #fff;
    width: 145px;
    height: 90px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
}

.memberCard .memberContent .memberName {
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0px;
}

.memberCard .memberContent .memberInfo {
    width: 80%;
    font-weight: 300;
    font-size: x-small;
    margin: 2px 0px 0px 0px;
}

.memberCard .memberContent .memberorg {
    margin: auto 0px 0px 0px;
    padding-bottom: 2px;
    font-size: 0.8rem;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN PATRONS ■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO SUPPORTERS ■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Federico Manuel Peralta                               │ */
/* └─────────────────────────────────────────────────────────┘ */

.text-supporters {
    text-decoration: none;
    font-family: var(--font-family-lato);
    color: var(--color-dos);
    padding-left: 15%;
}

.tittle-supporters {
    margin-left: var(--margin-desktop-2);
    font-family: var(--font-family-lato);
    color: var(--color-dos);
    margin-top: 4rem;
    font-weight: 700;
    font-size: 40px;
}

.swiperSupporters {
    width: 80%;
    height: 20%;
}

.slideSupporters {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    height: 70%;
}

.img-supporters {
    display: block;
    width: 30%;
    height: 100%;
    object-fit: cover;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■ FIN SUPPORTERS ■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■ INICIO PRESS-AND-NEWS ■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Luis Romano                                           │ */
/* └─────────────────────────────────────────────────────────┘ */

.press {
    margin-left: var(--margin-desktop-2);
    font-family: var(--font-family-lato);
    font-weight: 700;
    font-size: 40px;
    color: var(--color-dos);
    margin-top: 4rem;
}

/* estos swipers hay que ponerles un nombre solo para la seccion como "swiper-press" */

.swiperPressAndNews {
    width: 80%;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide-pan {
    height: calc((100% - 50px) / 2);
    border-radius: 20px;
    /*Center slide text vertically*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px -5px 3px 0px rgba(0, 0, 0, 0.12);
}

.swiper-slide-pan:hover {
    transform: scale(1.05);
    transition: 2s;
}

.swiper-slide-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide-btn {
    border-radius: 50px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #FFD500;
    border: #FFD500;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}

.swiper-wrapper-pan {
    bottom: 20px;
    padding-top: 10px;
}

.swiper-pagination-pan {
    margin-bottom: 225px;
}



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■ FIN PRESS-AND-NEWS ■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ INICIO MAP ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* └─────────────────────────────────────────────────────────┘ */

#map-off {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background-color: var(--color-uno);
}

#map-off:hover {
    cursor: pointer;
}

#map-on {
    display: none;
    padding: 0 var(--margin-desktop-1);
    width: 100%;
    margin-top: 50px;
    height: 500px;
    margin-bottom: 50px;
}

.map-img {
    width: 100%;
    margin-top: 80px;
    height: 80%;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■■ FIN MAP ■■■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */




/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego Valentino Pardo Yepez                           │ */
/* │ ► Santiago Elias Carranza                               │ */
/* └─────────────────────────────────────────────────────────┘ */

/* Footer - Contenedor principal */

.footer_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-cinco);
    height: 357px;
    padding-right: var(--margin-desktop-2);
    padding-left: var(--margin-desktop-2);
}

/* Footer - Redes Sociales */

.footer_redsocial {
    display: flex;
    justify-content: space-between;
    padding-left: .7em;
    position: relative;
    top: 2em;
    margin-bottom: 3em;
}

.footer_redsocial img {
    cursor: pointer;
    margin-right: 0;
}

.link-whatsapp {
    text-decoration: none;
    color: var(--color-uno);
}

.link-whatsapp-text {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    top: 2px;
}

.link-instagram {
    text-decoration: none;
    color: var(--color-uno);
}

.link-instagram-text {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    top: 2px;
}

.link-facebook {
    text-decoration: none;
    color: var(--color-uno);
}

.link-facebook-text {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    top: 2px;
}

/* Footer - Línea intermedia */

.footer_linea {
    border-bottom: solid .1px #FAFAFB;
    position: relative;
    top: 1.5em;
}

/* Footer - Routes */

.footer_routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 1em;
    margin-top: 3em;
}

.footer_routes_logo {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    position: relative;
    bottom: .1em;
}

.footer_routes_logo img {
    width: 91px;
    height: 104px;
    position: relative;
    bottom: .2em;
}

.footer_routes_logo p {
    font-weight: bold;
    padding-left: .3em;
}

.footer_routes_container_home_navigation {
    display: flex;
    justify-content: space-between;
    width: 39vw;
}

.footer_routes_home-aboutUs {
    display: flex;
    flex-wrap: wrap;
}

.footer_routes_navigation {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: .6em;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY MOBILE ███████████████████████ ║
    ║ ████████████████████████████ 320 - 480  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px) and (max-width: 480px) {


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .mobile-navbar-container {
        padding-top: 8px;
    }

    /* Header - Navbar menu button */

    .mobile-navbar-container {
        background-color: var(--color-cinco) !important;
    }

    .dropdown-toggle-nav {
        padding-left: 20px;
        border-radius: 0;
        margin-left: -15px;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .dropdown-navigation {
        left: 0;
        right: 0;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
        --bs-dropdown-border-color: 0;
    }

    .dropdown-navigation[data-bs-popper] {
        margin-top: 0;
    }

    .dropdown-item-nav {
        padding-left: 24px;
        padding-bottom: 10px;
    }

    /* Header - Navbar languages button */

    .dropdown-languages {
        right: 2px;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
    }

    .dropdown-languages[data-bs-popper] {
        left: auto;
    }

    .dropdown-item {
        color: var(--color-uno);
        font-family: var(--font-family-lato);
    }

    /* Header - Opciones */

    .header-options {
        padding-top: 8px;
        color: var(--color-uno);
        height: 60px;
        background-color: var(--color-cinco);
    }

    .header-options-cuadro {
        margin: auto;
        width: 98%;
        background-color: var(--color-seis);
        border-radius: 10px;
        height: 43px;
    }

    .option-donate {
        display: inline-block;
        background-color: var(--color-siete);
        font-family: var(--font-family-lato);
        color: var(--color-uno);
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: 50%;
        height: 90%;
        text-align: center;
    }

    .option-need-help {
        display: inline-block;
        color: var(--color-uno);
        font-family: var(--font-family-lato);
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: 45%;
        height: 90%;
        text-align: center;
    }


    /* Header - Encabezado con títulos */

    .tittles-container {
        height: 698px;
    }

    /* Header - Background */

    .bg-home-mobile {
        position: absolute;
        width: 100%;
        height: 700px;
        top: 54px;
        z-index: -1;
        mix-blend-mode: multiply;
        background-blend-mode: luminosity;
    }

    /* Header - Máscara de color azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        height: 758px;
        top: 0;
        background: #02397A;
        border: 0px solid;
        z-index: -2;
        mix-blend-mode: multiply;
    }

    /* Header - Efecto de wave */

    .wave-mobile {
        position: absolute;
        top: 720px;
        width: 100%;
    }

    /* Header - Títulos */

    .titulos {
        margin-left: 4%;
    }

    .header-titulo {
        font-size: 56px;
        width: 80%;
        line-height: 56px;
        padding-top: 50px;
    }

    .header-subtitulo {
        font-family: var(--font-family-poppins);
        font-weight: 200;
        font-size: 17px;
        width: 65%;
        line-height: 24px;
        margin-top: 25px;
    }

    .header-subtitulo strong {
        font-size: 17px;
        font-weight: 600;
        width: 80%;
        line-height: 24px;
    }

    .header-subtitulo-languageC{
        display: inline-block;
    }

    .home-btn {
        width: 150px;
        height: 38px;
        border-radius: 8px;
        color: var(--color-dos);
        font-size: 19px;
        margin-top: 40px;
    }

    .home-btn:hover {
        font-size: 20px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */




    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ INICIO ABOUT US ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .about-us {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 0;
    }

    .about-us .about-us-texto {
        width: 90%;
        padding: 40px 0;
        margin: 0 auto;
        justify-content: space-around;
        font-size: 16px;
    }

    .about-us .about-us-image-imagen {
        width: 80%;
        margin: 0 auto;
        height: 283px;
        margin: 10px;
        padding: 1px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN ABOUT US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ INICIO PATRONS ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Vania Belén Carlos Camones                            │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .swiper-p {
        height: 310px;
    }

    .memberCard {
        width: 180px;
    }

    .memberCard .memberImage {
        width: 180px;
        height: 180px;
    }

    .memberCard .memberContent {
        width: 180px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN PATRONS ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■ INICIO PRESS-AND-NEWS ■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* ponerle nombre al swiper */

    .swiper-pagination-pan {
        margin-bottom: 225px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■ FIN PRESS-AND-NEWS ■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO SUPPORTERS ■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Manuel Peralta                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .swiperSupporters {
        height: 15%;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ FIN SUPPORTERS ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ INICIO MAP ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

    #map-on {
        padding: 0 var(--margin-desktop-1);
        margin-bottom: 20px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■■ FIN MAP ■■■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* Footer - Contenedor principal */

    .footer_container {
        background-color: #001C3D;
        height: 130px;
        padding-left: 14px;
        padding-right: 14px;
        overflow: hidden;
    }

    /* Footer - Redes Sociales */

    .footer_redsocial {
        justify-content: flex-start;
        flex-direction: row;
        top: 23%;
        margin-bottom: 0;
        width: 50%;
    }

    .footer_redsocial img {
        cursor: pointer;
        width: 27px;
        height: 27px;
    }

    .footer_redsocial_instragram img {
        border-radius: 100%;
        width: 29px;
        height: 29px;
        position: relative;
        right: 0;
    }

    .footer_redsocial_facebook img {
        position: relative;
        right: -4.7em;
    }

    .link-instagram-text {
        display: none;
    }

    .link-facebook-text {
        display: none;
    }

    .link-whatsapp-text {
        display: none;
    }

    /* Footer - Línea intermedia */

    .footer_linea {
        display: none;
    }

    /* Footer - Routes */

    .footer_routes {
        margin-top: 0.8em;
    }

    .footer_routes_logo {
        margin-right: -2px;
    }

    .footer_routes_logo img {
        width: 52px;
        height: 52px;
    }

    .footer-titulo {
        margin-bottom: 12px;
        margin-left: 5px;
        font-family: var(--font-family-poppins);
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0.005em;
    }

    .footer_routes_home-aboutUs {
        display: none;
    }

    .footer_routes_navigation {
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 8px;
        position: relative;
        top: -2.7em;
        left: 15%;
    }

    .footer-need-help {
        margin-top: 10px;
        width: 110px;
        white-space: nowrap;
        padding-left: 14px;
    }

    .footer-donate {
        width: 110px;
        margin-top: 12px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */


}

/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ████████████████████████████ 481 - 992  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* Header - Navbar */

    .navbar-mobile {
        margin-left: var(--margin-desktop-1);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-logo {
        margin-left: 0;
    }

    .navbar-contenedor {
        margin-right: 0;
    }

    .navbar-titulo {
        display: none;
    }

    .navbar-contenido {
        font-family: var(--font-family-lato);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-home {
        font-size: 0.9em;
        margin-right: 1%;
    }

    .navbar-about-us {
        font-size: 0.9em;
        margin-right: 2%;
        white-space: nowrap;
    }

    .navbar-need-help {
        margin-right: 2%;
        border: 1px solid var(--color-uno);
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .navbar-donate {
        color: var(--color-uno);
        border-radius: 8px;
        font-weight: 900;
        color: var(--color-dos);
        background-color: var(--color-tres);
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -24px;
    }

    /*  Header - Sección idiomas  */

    .navbar-en {
        margin-right: 20%;
    }

    /* Header - Sección Títulos */

    .header-div {
        margin-left: var(--margin-desktop-1);
    }

    .header-titulo {
        font-size: 80px;
        font-family: var(--font-family-lato);
        font-weight: 700;
        line-height: 100px;
        width: 442px;
    }

    .header-subtitulo {
        font-size: 20px;
        font-family: 'Poppins';
        text-shadow: 0 0 5px #000000;
        width: 440px;
    }

    .header-subtitulo strong {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }

    /* Header - Background */

    .header-background-imagen {
        height: 870px;
    }

    /* Header - Máscara azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        top: 0;
        height: 870px;
        background: #02397A;
        border: 1px solid #000000;
        z-index: -2;
        mix-blend-mode: multiply;
    }

    /* Header - Efecto wave*/

    .wave {
        position: absolute;
        width: 100%;
        height: 130px;
        top: 772px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .about-us {
        display: flex;
        flex-direction: column-reverse;
        padding: 65px 0;
    }

    .about-us .about-us-texto {
        width: 90%;
        padding: 40px 0;
        margin: 0 auto;
        justify-content: space-around;
        font-size: 16px;
    }

    .about-us .about-us-image-imagen {
        width: 80%;
        margin: 0 auto;
        height: 283px;
        margin: 10px;
        padding: 1px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN ABOUT US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ INICIO PATRONS ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Vania Belén Carlos Camones                            │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */
    .mobile-titles{
        display: none;
    }    
    .desktop-titles{
        display: unset;
    }
    .swiper-p {
        height: 380px;
    }
    .memberCard {
        width: 200px;
        border-radius: 10px;
    }

    .memberCard-one {
        width: 400px;
    }

    .memberCard .memberImage {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }

    .memberCard .memberImage .memberMoreInfo {
        margin: 10px;
    }

    .memberCard .memberContent {
        width: 200px;
        height: 120px;
    }

    .memberCard .memberContent .memberName {
        font-weight: 400;
        font-size: 1rem;
        margin: 2px 0px 0px 0px;
    }

    .memberCard .memberContent .memberInfo {
        width: 80%;
        font-weight: 300;
        font-size: 0.8rem;
        margin: 4px 0px 0px 0px;
    }

    .memberCard .memberContent .memberorg {
        font-size: 1rem;
        padding-bottom: 5px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN PATRONS ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO SUPPORTERS ■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Manuel Peralta                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .text-supporters {
        text-decoration: none;
        font-family: var(--font-family-lato);
        color: var(--color-dos);
        padding-left: 15%;
    }

    .tittle-supporters {
        margin-left: var(--margin-desktop-2);
        font-family: var(--font-family-lato);
        color: var(--color-dos);
        margin-top: 4rem;
        font-weight: 700;
        font-size: 40px;
    }

    .swiperSupporters {
        width: 80%;
        height: 20%;
    }

    .slideSupporters {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        align-items: center;
        height: 70%;
    }

    .img-supporters {
        display: block;
        width: 30%;
        height: 100%;
        object-fit: cover;
    }


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ FIN SUPPORTERS ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■ INICIO PRESS-AND-NEWS ■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .press {
        margin-left: var(--margin-desktop-1);
    }

    .swiper-pagination-pan {
        margin-bottom: 230px;
    }



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .footer_container {
        background-color: var(--color-cinco);
        height: 150px;
        max-width: 100vw;
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 1em;
    }

    .footer_redsocial {
        justify-content: flex-end;
        flex-direction: row-reverse;
        top: 1.2em;
        padding-left: 1.5em;
        margin-bottom: 0;
    }

    .footer_redsocial img {
        cursor: pointer;
        margin-right: 2.9em;
        width: 27px;
        height: 27px;
    }

    .footer_redsocial_instragram img {
        border-radius: 100%;
        width: 29px;
        height: 29px;
        position: relative;
        right: 4.6em;
    }

    .footer_redsocial_facebook img {
        position: relative;
        right: -4.7em;
    }

    .footer_redsocial a {
        display: none;
    }

    .footer_linea {
        display: none;
    }

    .footer_routes {
        margin-top: 2em;
    }

    .footer_routes_logo {
        margin-right: 0;
    }

    .footer_routes_logo img {
        width: 52px;
        height: 54px;
        position: relative;
        bottom: .2em;
        margin-left: 1em;
    }

    .footer_routes_logo p {
        font-weight: normal;
        width: 150px;
        padding-left: .7em;
        position: relative;
        top: .3em;
    }

    .footer_routes_container_home_navigation {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
    }

    .footer_routes_home-aboutUs {
        display: none;
    }

    .footer_routes_navigation {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}
@media (min-width: 481px) {
    .chatbot-button {
        background-image: url("../Image/btn-chatbot.png");
        width: 70px;
        height: 70px;
    }
}


/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████ MEDIA QUERY DESKTOP ███████████████████████ ║
    ║ ███████████████████████████ 993 - 1299  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 993px) and (max-width: 1299px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /*  Header - Sección Navbar  */

    .navbar-logo {
        margin-left: var(--margin-desktop-1);
    }

    .navbar-contenido {
        margin-right: var(--margin-desktop-1);
    }

    /*  Header - Sección Títulos  */

    .header-div {
        margin-left: var(--margin-desktop-1);
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .about-us-texto {
        padding-left: var(--margin-desktop-1);
        padding-top: 130px;
        width: 40%;
        font-size: 1.7vw;
    }

    .about-us-image-imagen {
        margin-right: var(--margin-desktop-1);
        width: 40%;
        height: 40%;
    }

    .box-about-us {
        flex: auto;
        width: 700px;
        height: 400px;
        margin: 10px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ INICIO PATRONS ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Vania Belén Carlos Camones                            │ */
    /* └─────────────────────────────────────────────────────────┘ */
    .mobile-titles{
        display: none;
    }   
    .desktop-titles{
        display: unset;
    }
    .Carrousel{
        margin-top: 100px;
    }
    .swiper-p {
        height: 560px;
    }

    .memberCard {
        width: 300px;
    }

    .memberCard-one {
        width: 700px;
    }

    .memberCard .memberImage {
        width: 300px;
        height: 300px;
    }

    .memberCard .memberImage .memberMoreInfo {
        width: 30px;
        height: 30px;
        margin: 20px;
        font-size: 1.3rem;
    }

    .memberCard .memberContent {
        width: 300px;
        height: 190px;
        padding-left: 10px;
    }

    .memberCard .memberContent .memberName {
        font-weight: 500;
        font-size: 1.2rem;
        margin: 10px 0px 0px 0px;
    }

    .memberCard .memberContent .memberInfo {
        width: 80%;
        font-weight: 400;
        font-size: 1rem;
        margin: 10px 0px 0px 0px;
    }

    .memberCard .memberContent .memberorg {
        font-size: 1.2rem;
        padding-bottom: 8px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN PATRONS ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO SUPPORTERS ■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Manuel Peralta                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .tittle-supporters {
        margin-left: var(--margin-desktop-1);
        font-family: var(--font-family-lato);
        color: var(--color-dos);
        margin-top: 4rem;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ FIN SUPPORTERS ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■ INICIO PRESS-AND-NEWS ■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .press {
        margin-left: var(--margin-desktop-1);
    }

    .swiper-pagination-pan {
        margin-bottom: 10px;
    }


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■ FIN PRESS-AND-NEWS ■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .footer_container {
        padding-right: var(--margin-desktop-1);
        padding-left: var(--margin-desktop-1);
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ██████████████████████ MEDIA QUERY DESKTOP HD █████████████████████ ║
    ║ ████████████████████████████ 1300 - ∞  ████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 1300px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■ INICIO PATRONS ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Vania Belén Carlos Camones                            │ */
    /* └─────────────────────────────────────────────────────────┘ */
    .mobile-titles{
        display: none;
    }   
    .desktop-titles{
        display: unset;
    }

    .swiper-p {
        height: 560px;
    }

    .memberCard {
        width: 300px;
    }

    .memberCard-one {
        width: 700px;
    }

    .memberCard .memberImage {
        width: 300px;
        height: 300px;
    }

    .memberCard .memberImage .memberMoreInfo {
        width: 30px;
        height: 30px;
        margin: 20px;
        font-size: 1.3rem;
    }

    .memberCard .memberContent {
        width: 300px;
        height: 190px;
        padding-left: 10px;
    }

    .memberCard .memberContent .memberName {
        font-weight: 500;
        font-size: 1.2rem;
        margin: 10px 0px 0px 0px;
    }

    .memberCard .memberContent .memberInfo {
        width: 80%;
        font-weight: 400;
        font-size: 1rem;
        margin: 10px 0px 0px 0px;
    }

    .memberCard .memberContent .memberorg {
        font-size: 1.2rem;
        padding-bottom: 8px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN PATRONS ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■ INICIO PRESS-AND-NEWS ■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .press {
        margin-left: var(--margin-desktop-1);
    }

    .swiper-pagination-pan {
        margin-bottom: 10px;
    }


}