/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* └─────────────────────────────────────────────────────────┘ */

/*  Header - Sección Navbar  */

.navbar-brand-logo{
  left: 100px;
}

.navbar-contenedor {
  padding-top: 20px; 
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.navbar-titulo {
  margin-left: 0;
  font-family: var(--font-family-lato);
  color: var(--color-uno);
}

.navbar-titulo:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--color-uno);
  transform: scaleX(0);  
  transition: transform 150ms ease-in-out;
}

.navbar-titulo:hover:after {
  color: var(--color-uno);
  transform: scaleX(1); 
}

.navbar-titulo:hover {
  color: var(--color-uno);
}

.navbar-logo{
  margin-left: var(--margin-desktop-2)
}

.navbar-contenido {
  font-family: var(--font-family-lato);
  margin-right: var(--margin-desktop-2);
}

.navbar-link {
  color: var(--color-uno);
}

.navbar-about-us {
  margin-right: 61px;
}

.navbar-about-us:hover {
  color: var(--color-uno);
  text-shadow: var(--text-shadow);
  transition: all ease 0.5s;
}

.navbar-about-us:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--color-uno);
  transform: scaleX(0);  
  transition: transform 150ms ease-in-out;
}

.navbar-about-us:hover:after {
  color: var(--color-uno);
  transform: scaleX(1); 
}

.navbar-home {
  margin-right: 24px;
}

.navbar-home:hover {
  color: var(--color-uno);
  text-shadow: var(--text-shadow);
  transition: all ease 0.5s;
}

.navbar-home:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--color-uno);
  transform: scaleX(0);  
  transition: transform 150ms ease-in-out;
}

.navbar-home:hover:after {
  color: var(--color-uno);
  transform: scaleX(1); 
}

.navbar-need-help {
  margin-right: 16px;
  color: var(--color-uno);
  border: 2px solid var(--color-uno);
  background-color: transparent;
  border-radius: 8px;
  padding-left: 34px;
  padding-right: 34px;
}

.navbar-need-help:hover {
  color: var(--color-uno);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  background-color: var(--color-uno);
  border: 2px solid var(--color-uno);
  text-shadow: var(--shadow-01);
  box-shadow: var(--shadow-01);
  transition: all ease 0.5s;
}

.navbar-donate {
  color: var(--color-uno);
  border-radius: 8px;
  font-weight: 700;
  color: var(--color-dos);
  background-color: var(--color-tres);
  padding-left: 34px;
  padding-right: 34px;
}

.navbar-donate:hover {
  color: var(--color-dos);
  background: var(--color-tres);
  box-shadow: var(--shadow-02);
  transition: all ease 0.5s;
}

/*  Header - Sección idiomas  */

.contenedor-idiomas {
  margin-top: 20px;
}

.navbar-ykp {
  color: var(--color-uno);
  border-radius: 8px 0 0 8px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  background-color: var(--color-uno);
  width: 67.742px;
  border: 0;
}

.navbar-ykp:hover {
  color: rgba(0, 0, 0, 0.7);
  background: var(--color-uno);
  box-shadow: var(--shadow-01);
  transition: all ease 0.5s;    
}

.navbar-en {
  color: var(--color-uno);
  border-radius: 0 8px 8px 0;
  font-weight: 700;
  color: var(--color-dos);
  background-color: var(--color-tres);
  width: 67.742px;
  border: 0;
}

.navbar-en:hover {
  color: var(--color-dos);
  background: var(--color-tres);
  box-shadow: var(--shadow-02);
  transition: all ease 0.5s;   
}

/*  Header - Sección Títulos  */

.header-div {
  margin-left: var(--margin-desktop-2);
}

.header-titulo {
  color: var(--color-tres);
  font-size: 100px;
  font-family: var(--font-family-lato);
  font-weight: 700;
  line-height: 120px;
}

.header-subtitulo {
  margin-top: 20px;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Poppins';
  text-shadow: 0 0 5px #000000;
  width: 440px;
}

.header-subtitulo strong {
  font-size: 27px;
  font-weight: bold;
}

/* Header - Botón donate */

.home-btn {
  background-color: var(--color-tres);
  border-color: var(--color-tres);
  position: absolute;
  width: 254px;
  height: 64px;
  border-radius: 8px;
  color: var(--color-dos);
  font-size: 28px;
  font-weight: 800;
  font-family: 'Lato';
  margin-top: 20px;
}

.home-btn:hover {
  color: var(--color-dos);
  background: var(--color-tres);
  box-shadow: var(--shadow-02);
  transition: all ease 0.5s;
}

/* Header - Sección Background */

.navbar-contenedor-principal {
  height: 800px;
}

.header-background-imagen {
  position: absolute;
  background: #02397A;
  width: 100%;
  height: 850px;
  top: 0;
  z-index: -1;
  mix-blend-mode: multiply;
}

.header-background-mascara {
  position: absolute;
  width: 100%;
  top: 0;
  height: 800px;
  background: #02397A;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -2;
  mix-blend-mode: multiply;
}

/* Header - Efecto wave*/

.wave {
  position: absolute;
  width: 100%;
  height: 160px;
  top: 700px;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Manuel Florez                                         │ */
/* └─────────────────────────────────────────────────────────┘ */

.list-group{
    border-radius: unset;
}
.list-group-item{
    border-radius: unset;
    border: 1.5px solid var(--color-dos);
    padding: 0;
}
.ONG_element{
    display: flex;
    flex-direction: row;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
}
.ONG_element_title{
    margin-bottom: 0;
    font-size: 1.4rem;
    color: var(--color-dos);
}
.ONG_element_title_arrow{
    margin-left: auto;
    color: var(--color-dos);
    font-size: 1.5rem;
    margin-bottom: 0;
}
.ONG_element_collapse{
    background-color: var(--color-dos);
    color: white;
    padding: 0;
}
.ONG_element_collapse .ONG_element_collapse_title{
    font-size: 1.4rem;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    padding-bottom: 0px;
    margin: 3px;
}
.ONG_element_collapse_info{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 4px;
}
.ONG_element_collapse_info .ONG_element_collapse_info_item{
    display: grid;
    place-items: center;
    width: 150px;
    height: 60px;
}
.ONG_element_collapse_info .ONG_element_collapse_info_img{
    background-color: white;
    color: var(--color-dos);
    border-radius: 1.5rem;
    overflow: hidden;
}
.ONG_element_collapse_info .ONG_element_collapse_info_item .ONG_element_collapse_info_item_btn{
    background-color: var(--color-tres);
    color: var(--color-dos);
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego Valentino Pardo Yepez                           │ */
/* │ ► Santiago Elias Carranza                               │ */
/* └─────────────────────────────────────────────────────────┘ */

.footer_container{
    background-color: #001C3D;
    height: 357px;
}

.footer_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #001C3D;
    height: 357px;
    max-width: 95vw;
    margin-right:  var(--margin-desktop-2);
    margin-left:  var(--margin-desktop-2);
}

.footer_body a,
.footer_body p{
    text-decoration:none;
    color: #FAFAFB;
}

.footer_redsocial{
    display: flex;
    justify-content: space-between;
    padding-left: .7em;
    position: relative;
    top: 2em;
    margin-bottom: 3em;
}

.footer_redsocial img{
    cursor: pointer;
    margin-right:0;
}
    
.footer_redsocial a{
    display: inline-block;
    padding-left: 1em;
}

.footer_linea {
    border-bottom: solid .1px #FAFAFB;
    position: relative;
    top: 1.5em;
}

.footer_routes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 1em;
    margin-top: 3em;
}

.footer_routes_logo{
    display: flex;
    align-items: center;
    margin-right: 1vw;
    position: relative;
	bottom: .1em;
}

.footer_routes_logo img{
    width:91px;
    height:104px;
    position: relative;
    bottom: .2em;
}

.footer_routes_logo p{
    font-weight: bold;
    padding-left: .3em;
}

.footer_routes_container_home_navigation{
    display: flex;
    justify-content: space-between;
    width: 39vw;
}

.footer_routes_home-aboutUs {
    display: flex;
    flex-wrap: wrap;
}

.footer_routes_home-aboutUs a:nth-child(1){
    padding-right: 2em;
}

.footer_routes_home-aboutUs div:nth-child(1){
    position: relative;
    bottom: 0em;
}

.footer_routes_navigation {
    display: flex;
    flex-direction:row;
    position: relative;
    bottom: .6em;
}

.footer_routes_navigation div:nth-child(3),
.footer_routes_navigation div:nth-child(4){
    display: flex;
    align-items: center;
    border-radius: .5em;
    width: 163px;
    height: 48px;
}

.footer_routes_navigation div:nth-child(3) a,
.footer_routes_navigation div:nth-child(4) a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 48px; 
}

.footer_routes_navigation div:nth-child(3) {
    border:3px solid #FAFAFB;
    margin-right: 1em;
    margin-left: 3vw;
}

.footer_routes_navigation div:nth-child(4){
    background-color: #FFD500;
}

.footer_routes_navigation div:nth-child(4) a{
    font-weight: bold;
    color: #02397A;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ╔═════════════════════════════════════════════════════════════════╗ */
/* ║                   MEDIA QUERY - 576 - Mobile                    ║ */
/* ╚═════════════════════════════════════════════════════════════════╝ */

@media (min-width: 0px ) and (max-width: 576px) {
    
}




/* ╔═════════════════════════════════════════════════════════════════╗ */
/* ║                   MEDIA QUERY - 992 - Mobile                    ║ */
/* ╚═════════════════════════════════════════════════════════════════╝ */

@media (min-width: 577px ) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ONG_element_collapse_info .ONG_element_collapse_info_item{
        width: 200px;
        height: 80px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */


    
    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .footer_routes_logo img {
        width: 81px;
        height: 81px;
        position: relative;
        bottom: 0.2em;
    }

    .footer_routes_logo p span{
        display: block;
    }

    .footer_routes_container_home_navigation {
        width: 42vw;
    }

    .footer_routes_home-aboutUs {
        position: relative;
        top: .4em;
        display: flex;
        flex-direction: column;
    }

    .footer_routes_navigation {
        display: flex;
        flex-direction:column;
        position: relative;
        bottom: .6em;
    }

    .footer_routes_navigation div:nth-child(3),
    .footer_routes_navigation div:nth-child(4){
        position: relative;
        top: -.2em;
        width: 106px;
        height: 38px;
    }

    .footer_routes_navigation div:nth-child(4){
        position: relative;        
        top: 1px;
    }

    .footer_routes_navigation div:nth-child(3) {
        margin-right: 0;
        margin-left: 0;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}



/* ╔═════════════════════════════════════════════════════════════════╗ */
/* ║                   MEDIA QUERY - 1200 - Desktop                  ║ */
/* ╚═════════════════════════════════════════════════════════════════╝ */

@media(min-width: 993px) and (max-width: 1299px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* └─────────────────────────────────────────────────────────┘ */

	/*  Header - Sección Navbar  */

	.navbar-logo{
		margin-left: var(--margin-desktop-1);
	}

	.navbar-contenido {
		margin-right: var(--margin-desktop-1);
	}

	/*  Header - Sección Títulos  */

	.header-div {
		margin-left: var(--margin-desktop-1);
	}

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .list-group{
        border-radius: 1.5rem;
    }
    .list-group-item{
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.5rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }
    .ONG_element_collapse_info{
        padding: 6px;
    }
    .ONG_element_collapse_info .ONG_element_collapse_info_item{
        width: 300px;
        height: 90px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */


    
    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .footer_routes_container_home_navigation {
        width: 41vw;
    }

    .footer_routes_navigation div:nth-child(3),
    .footer_routes_navigation div:nth-child(4){
    display: flex;
    align-items: center;
    border-radius: .5em;
    width: 146px;
    height: 48px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}



/* ╔═════════════════════════════════════════════════════════════════╗ */
/* ║              MEDIA QUERY - Extra Large - Desktop                ║ */
/* ╚═════════════════════════════════════════════════════════════════╝ */

@media(min-width: 1300px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .list-group{
        border-radius: 1.5rem;
    }
    .list-group-item{
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.5rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }
    .ONG_element_collapse_info{
        padding: 6px;
    }
    .ONG_element_collapse_info .ONG_element_collapse_info_item{
        width: 300px;
        height: 90px;
    }
    
    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}