/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* │ ► Federico Peralta                                      │ */
/* └─────────────────────────────────────────────────────────┘ */

/*  Header - Sección Navbar  */

header {
    height: 970px;
}

/*  Header - Sección Títulos  */

.header-titulo {
    width: 700px;
}

.header-subtitulo {
    width: 600px;
}

/* Header - Sección Donaciones */

.boton-qr{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
}

.imagen-qr{
    margin-left: 120px;
    width: 30%;
    height: 30%;
    margin-top: -300px;
}

#icono-paypal{
    content: url(../img/donate/icon-paypal-disabled.jpg);
}

#icono-twint{
    content: url(../img/donate/icon-twint-disabled.jpg);
}

#icono-zahlteil{
    content: url(../img/donate/icon-zahlteil-disabled.jpg);
}

#icono-paypal:hover{
    content: url(../img/donate/icon-paypal-enabled.jpg);
}

#icono-twint:hover{
    content: url(../img/donate/icon-twint-enabled.jpg);
}

#icono-zahlteil:hover{
    content: url(../img/donate/icon-zahlteil-enabled.jpg);
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Manuel Florez                                         │ */
/* └─────────────────────────────────────────────────────────┘ */

.content-container {
    margin-bottom: 25px;
}

.ongs-legend {
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
}

.ongs-legend-span {
    font-weight: 800;
}

.list-group-title {
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 800;
    font-size: 1.5rem;
}

.list-group {
    border-radius: unset;
}

.list-group-item {
    border-radius: unset;
    border: 1.5px solid var(--color-dos);
    padding: 0;
}

.ONG_element {
    display: flex;
    flex-direction: row;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
}

.ONG_element_title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--color-dos);
}

.ONG_element_title_arrow {
    margin-left: auto;
    color: var(--color-dos);
    font-size: 1.5rem;
    margin-bottom: 0;
}

.ONG_element_collapse {
    background-color: var(--color-dos);
    color: white;
    padding: 0;
}

.ONG_element_collapse .ONG_element_collapse_title {
    font-size: 1.4rem;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    padding-bottom: 0px;
    margin: 3px;
}

.ONG_element_collapse_info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 4px;
}

.ONG_element_collapse_info .ONG_element_collapse_info_item {
    display: grid;
    place-items: center;
    width: 150px;
    height: 60px;
}

.ONG_element_collapse_info .ONG_element_collapse_info_img {
    background-color: white;
    color: var(--color-dos);
    border-radius: 1.5rem;
    overflow: hidden;
}

.ONG_element_collapse_info .ONG_element_collapse_info_item .ONG_element_collapse_info_item_btn {
    background-color: var(--color-tres);
    color: var(--color-dos);
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY MOBILE ███████████████████████ ║
    ║ ████████████████████████████ 320 - 480  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px ) and (max-width: 480px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .mobile-navbar-container {
        padding-top: 8px;
    }

    /* Header - Navbar menu button */

    .mobile-navbar-container {
        background-color: var(--color-cinco)!important;
    }

    .dropdown-toggle-nav {
        padding-left: 20px;
        border-radius: 0;
        margin-left: -15px;
    }

    .dropdown-navigation {
        left: 0;
        right: 0;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
        --bs-dropdown-border-color: 0;
    }

    .dropdown-navigation[data-bs-popper] {
        margin-top: 0;
    }

    .dropdown-item-nav {
        padding-left: 24px;
        padding-bottom: 10px;
    }

    /* Header - Navbar languages button */

    .dropdown-languages {
        right: 2px;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
    }

    .dropdown-languages[data-bs-popper] {
        left: auto;
    }

    .dropdown-item {
        color: var(--color-uno);
        font-family: var(--font-family-lato);
    }

    /* Header - Opciones */

    .header-options {
        padding-top: 8px;
        color: var(--color-uno);
        height: 60px;
        background-color: var(--color-cinco);
    }

    .header-options-cuadro {
        margin: auto;
        width: 98%;
        background-color: var(--color-seis);
        border-radius: 10px;
        height: 43px; 
    }

    .option-donate {
        display: inline;
        float: left;
        background-color: var(--color-tres);
        font-family: var(--font-family-lato);
        color: var(--color-cinco);
        font-weight: 700;
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: calc(50% - 4px);
        height: 90%;
        text-align: center;
    }

    .option-need-help {
        display: inline;
        float: right;
        color: var(--color-uno);
        font-family: var(--font-family-lato);
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: calc(50% - 4px);
        height: 90%;
        text-align: center;
        white-space: nowrap;
    }

    .boton-qr{
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 30px;
        width: 15%;
        height: 15%;
    }
    
    .imagen-qr{
        margin-left: 15%;
        width: 45%;
        height: 45%;
        margin-top: 0px;
        margin-bottom: -40%;
    }


    /* Header - Encabezado con títulos */

    .tittles-container {
        height: 798px;
    }

    /* Header - Background */

    .bg-home-mobile {
        position: absolute;
        width: 100%;
        height: 810px;
        top: 54px;
        z-index: -1;
        mix-blend-mode: multiply;
        background-blend-mode: luminosity;
    }

    /* Header - Máscara de color azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        height: 870px;
        top: 0;
        background: #02397A;
        border: 0px solid;
        z-index: -2;
        mix-blend-mode: multiply;
    }

    /* Header - Efecto de wave */

    .wave-mobile {
        position: absolute;
        top: 830px;
        width: 100%;
    }

    /* Header - Títulos */

    .titulos {
        margin-left: 4%;
    }

    .header-titulo {
        font-size: 56px;
        width: 80%;
        line-height: 56px;
        padding-top: 50px;
    }

    .header-subtitulo {
        font-family: var(--font-family-poppins);
        font-weight: 200;
        font-size: 17px;
        width: 73%;
        line-height: 24px;  
        margin-top: 25px;
        text-align: justify;
    }

    .header-subtitulo strong {
        font-size: 17px;
        font-weight: 600;
        width: 80%;
        line-height: 24px;          
    }

    .home-btn {
        width: 150px;
        height: 38px;
        border-radius: 8px;
        color: var(--color-dos);
        font-size: 19px;
        margin-top: 40px;
    }

    .home-btn:hover {
        font-size: 20px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ████████████████████████████ 481 - 992  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px ) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* Header - Navbar */

    .navbar-mobile {
        margin-left: var(--margin-desktop-1);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-logo{
        margin-left: 0;
    }

    .navbar-contenedor {
        margin-right: 0;
    }

    .navbar-titulo {
        display: none;
    }
    
    .navbar-contenido {
        font-family: var(--font-family-lato);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-home {
        font-size: 0.9em;
        margin-right: 1%;
    }

    .navbar-about-us {
        font-size: 0.9em;
        margin-right: 2%;
        white-space: nowrap;
    }

    .navbar-need-help {
        margin-right: 2%;
        border: 1px solid var(--color-uno);
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .navbar-donate {
        color: var(--color-uno);
        border-radius: 8px;
        font-weight: 900;
        color: var(--color-dos);
        background-color: var(--color-tres);
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -24px;
    }

    /*  Header - Sección idiomas  */

    .navbar-en {
        margin-right: 20%;
    }

    /* Header - Sección Títulos */

    .header-div {
        margin-left: var(--margin-desktop-1);
    }

    .header-titulo {
        font-size: 80px;
        font-family: var(--font-family-lato);
        font-weight: 700;
        line-height: 100px;
        width: 442px;
    }
    
    .header-subtitulo {
        font-size: 20px;
        font-family: 'Poppins';
        text-shadow: 0 0 5px #000000;
        width: 440px;
    }
    
    .header-subtitulo strong {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;  
    }

    .boton-qr{
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 50px;
        width: 80px;
        height: 80px;
    }
    
    .imagen-qr{
        margin-left: -300px;
        width: 270px;
        height: 270px;
        margin-top: 0px;
        margin-bottom: -350px;
    }

    .navbar-contenedor-principal{
        height: 1200px;
    }


    /* Header - Background */
    
    .header-background-imagen {
        height: 1070px;
    }

    /* Header - Máscara azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        top: 0;
        height: 1070px;
        background: #02397A;
        border: 1px solid #000000;
        z-index: -2;
        mix-blend-mode: multiply;
    }
    
    /* Header - Efecto wave*/
    
    .wave {
        position: absolute;
        width: 100%;
        height: 130px;
        top: 972px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend-span {
        font-weight: 900;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 200px;
        height: 80px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████ MEDIA QUERY DESKTOP ███████████████████████ ║
    ║ ███████████████████████████ 993 - 1299  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 993px) and (max-width: 1299px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

	/*  Header - Sección Navbar  */

	.navbar-logo{
		margin-left: var(--margin-desktop-1);
	}

	.navbar-contenido {
		margin-right: var(--margin-desktop-1);
	}

	/*  Header - Sección Títulos  */

	.header-div {
		margin-left: var(--margin-desktop-1);
	}

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend {
        font-size: 1.8rem;
    }

    .list-group {
        border-radius: 1.5rem;
    }

    .list-group-item {
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.1rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .ONG_element_title{
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 400;
    }

    .ONG_element_collapse_info {
        padding: 6px;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 300px;
        height: 90px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ██████████████████████ MEDIA QUERY DESKTOP HD █████████████████████ ║
    ║ ████████████████████████████ 1300 - ∞  ████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 1300px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend {
        font-size: 1.8rem;
    }

    .list-group {
        border-radius: 1.5rem;
    }

    .list-group-item {
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.5rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .ONG_element_title{
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 400;
    }

    .ONG_element_collapse_info {
        padding: 6px;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 300px;
        height: 90px;
    }
    
    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}