.ongs-legend{
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 400;
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
}

.list-group-title{
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: bolder;
    font-size: 1.5rem;
}

.list-group{
    border-radius: unset;
}
.list-group-item{
    border-radius: unset;
    border: 1.5px solid var(--color-dos);
    padding: 0;
}
.ONG_element{
    display: flex;
    flex-direction: row;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
}
.ONG_element_title{
    margin-bottom: 0;
    font-size: 1.4rem;
    color: var(--color-dos);
}
.ONG_element_title_arrow{
    margin-left: auto;
    color: var(--color-dos);
    font-size: 1.5rem;
    margin-bottom: 0;
}
.ONG_element_collapse{
    background-color: var(--color-dos);
    color: white;
    padding: 0;
}
.ONG_element_collapse .ONG_element_collapse_title{
    font-size: 1.4rem;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    padding-bottom: 0px;
    margin: 3px;
}
.ONG_element_collapse_info{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 4px;
}
.ONG_element_collapse_info .ONG_element_collapse_info_item{
    display: grid;
    place-items: center;
    width: 150px;
    height: 60px;
}
.ONG_element_collapse_info .ONG_element_collapse_info_img{
    background-color: white;
    color: var(--color-dos);
    border-radius: 1.5rem;
    overflow: hidden;
}
.ONG_element_collapse_info .ONG_element_collapse_info_item .ONG_element_collapse_info_item_btn{
    background-color: var(--color-tres);
    color: var(--color-dos);
}



@media (min-width: 460px) {
    .ongs-legend-span{
        font-weight: 900;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item{
        width: 200px;
        height: 80px;
    }
}

@media (min-width: 992px) {
    .ongs-legend{
        font-size: 1.8rem;
    }
    
    .list-group{
        border-radius: 1.5rem;
    }
    .list-group-item{
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.5rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }
    .ONG_element_collapse_info{
        padding: 6px;
    }
    .ONG_element_collapse_info .ONG_element_collapse_info_item{
        width: 300px;
        height: 90px;
    }
}