/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* │ ► Federico Peralta                                      │ */
/* └─────────────────────────────────────────────────────────┘ */

/*  Header - Sección Navbar  */

.navbar-brand-logo{
    left: 100px;
}

.navbar-contenedor {
    padding-top: 20px; 
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.navbar-titulo {
    margin-left: 0;
    font-family: var(--font-family-lato);
    color: var(--color-uno);
}

.navbar-titulo:after {
    display:block;
    content: '';
    border-bottom: solid 1px var(--color-uno);
    transform: scaleX(0);  
    transition: transform 150ms ease-in-out;
}

.navbar-titulo:hover:after {
    color: var(--color-uno);
    transform: scaleX(1); 
}

.navbar-titulo:hover {
    color: var(--color-uno);
}

.navbar-logo{
    margin-left: var(--margin-desktop-2)
}

.navbar-contenido {
    font-family: var(--font-family-lato);
    margin-right: var(--margin-desktop-2);
}

.navbar-link {
    color: var(--color-uno);
}

.navbar-about-us {
    margin-right: 61px;
}

.navbar-about-us:hover {
    color: var(--color-uno);
    text-shadow: var(--text-shadow);
    transition: all ease 0.5s;
}

.navbar-about-us:after {
    display:block;
    content: '';
    border-bottom: solid 1px var(--color-uno);
    transform: scaleX(0);  
    transition: transform 150ms ease-in-out;
}

.navbar-about-us:hover:after {
    color: var(--color-uno);
    transform: scaleX(1); 
}

.navbar-home {
    margin-right: 24px;
}

.navbar-home:hover {
    color: var(--color-uno);
    text-shadow: var(--text-shadow);
    transition: all ease 0.5s;
}

.navbar-home:after {
    display:block;
    content: '';
    border-bottom: solid 1px var(--color-uno);
    transform: scaleX(0);  
    transition: transform 150ms ease-in-out;
}

.navbar-home:hover:after {
    color: var(--color-uno);
    transform: scaleX(1); 
}

.navbar-need-help {
    margin-right: 16px;
    color: var(--color-uno);
    border: 2px solid var(--color-uno);
    background-color: transparent;
    border-radius: 8px;
    padding-left: 34px;
    padding-right: 34px;
}

.navbar-need-help:hover {
    color: var(--color-uno);
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--color-uno);
    border: 2px solid var(--color-uno);
    text-shadow: var(--shadow-01);
    box-shadow: var(--shadow-01);
    transition: all ease 0.5s;
}

.navbar-donate {
    font-family: var(--font-family-lato);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-uno);
    border-radius: 8px;
    font-weight: 900;
    color: var(--color-dos);
    background-color: var(--color-tres);
    padding-left: 34px;
    padding-right: 34px;
}

.navbar-donate:hover {
    color: var(--color-dos);
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;
}

/*  Header - Sección idiomas  */

.navbar-ykp {
    color: var(--color-uno);
    border-radius: 8px 0 0 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--color-uno);
    width: 67.742px;
    border: 0;
}

.navbar-ykp:hover {
    color: rgba(0, 0, 0, 0.7);
    background: var(--color-uno);
    box-shadow: var(--shadow-01);
    transition: all ease 0.5s;    
}

.navbar-en {
    color: var(--color-uno);
    border-radius: 0 8px 8px 0;
    font-weight: 700;
    color: var(--color-dos);
    background-color: var(--color-tres);
    width: 67.742px;
    border: 0;
}

.navbar-en:hover {
    color: var(--color-dos);
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;   
}

/*  Header - Sección Títulos  */

.header-div {
    margin-left: var(--margin-desktop-2);
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}

.header-titulo {
    color: var(--color-tres);
    font-size: 100px;
    font-family: var(--font-family-lato);
    font-weight: 700;
    line-height: 120px;
    width: 700px;
}

.header-subtitulo {
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Poppins';
    text-shadow: 0 0 5px #000000;
    width: 600px;
}

.header-subtitulo strong {
    font-size: 27px;
    font-weight: bold;
}

.boton-qr{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
}

.imagen-qr{
    margin-left: 120px;
    width: 30%;
    height: 30%;
    margin-top: -300px;
}

#icono-paypal{
    content: url(../img/iconopaypal.jpg);
}

#icono-twint{
    content: url(../img/iconotwint.jpg);
}

#icono-zahlteil{
    content: url(../img/iconozahlteil.jpg);
}

#icono-paypal:hover{
    content: url(../img/iconopaypalalt.jpg);
}

#icono-twint:hover{
    content: url(../img/iconotwintalt.jpg);
}

#icono-zahlteil:hover{
    content: url(../img/iconozahlteilalt.jpg);
}

/* Header - Botón donate */

.home-btn {
    display: flex;
    background-color: var(--color-tres);
    border-color: var(--color-tres);
    position: absolute;
    width: 254px;
    height: 64px;
    border-radius: 8px;
    color: var(--color-dos);
    font-size: 28px;
    font-family: 'Lato';
    font-weight: 900;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.home-btn:hover {
    color: var(--color-dos);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    background: var(--color-tres);
    box-shadow: var(--shadow-02);
    transition: all ease 0.5s;
}

/* Header - Sección Background */

.navbar-contenedor-principal {
    height: 1000px;
}

.header-background-imagen {
    position: absolute;
    background: #02397A;
    object-fit: cover;
    width: 100%;
    height: 970px;
    top: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}

.header-background-mascara {
    position: absolute;
    width: 100%;
    top: 0;
    height: 970px;
    background: #02397A;
    border: 1px solid #000000;
    z-index: -2;
    mix-blend-mode: multiply;
}

/* Header - Efecto wave*/

.wave {
    position: absolute;
    width: 100%;
    height: 160px;
    top: 812px;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


.chatbot-button {
    position: fixed;
    right: 3%;
    bottom: 50%;
    background-color: transparent;
    background-image: url("../Image/btn-chatbot-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    border: 1px transparent solid ;
    width: 60px;
    height: 60px;
    z-index: 3;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Manuel Florez                                         │ */
/* └─────────────────────────────────────────────────────────┘ */

.content-container {
    margin-bottom: 25px;
}

.ongs-legend {
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
}

.ongs-legend-span {
    font-weight: 800;
}

.list-group-title {
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 800;
    font-size: 1.5rem;
}

.list-group {
    border-radius: unset;
}

.list-group-item {
    border-radius: unset;
    border: 1.5px solid var(--color-dos);
    padding: 0;
}

.ONG_element {
    display: flex;
    flex-direction: row;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
}

.ONG_element_title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--color-dos);
}

.ONG_element_title_arrow {
    margin-left: auto;
    color: var(--color-dos);
    font-size: 1.5rem;
    margin-bottom: 0;
}

.ONG_element_collapse {
    background-color: var(--color-dos);
    color: white;
    padding: 0;
}

.ONG_element_collapse .ONG_element_collapse_title {
    font-size: 1.4rem;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    padding-bottom: 0px;
    margin: 3px;
}

.ONG_element_collapse_info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 4px;
}

.ONG_element_collapse_info .ONG_element_collapse_info_item {
    display: grid;
    place-items: center;
    width: 150px;
    height: 60px;
}

.ONG_element_collapse_info .ONG_element_collapse_info_img {
    background-color: white;
    color: var(--color-dos);
    border-radius: 1.5rem;
    overflow: hidden;
}

.ONG_element_collapse_info .ONG_element_collapse_info_item .ONG_element_collapse_info_item_btn {
    background-color: var(--color-tres);
    color: var(--color-dos);
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego Valentino Pardo Yepez                           │ */
/* │ ► Santiago Elias Carranza                               │ */
/* └─────────────────────────────────────────────────────────┘ */

/* Footer - Contenedor principal */

.footer_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-cinco);
    height: 357px;
    padding-right: var(--margin-desktop-2);
    padding-left: var(--margin-desktop-2);
}

/* Footer - Redes Sociales */

.footer_redsocial {
    display: flex;
    justify-content: space-between;
    padding-left: .7em;
    position: relative;
    top: 2em;
    margin-bottom: 3em;
}

.footer_redsocial img {
    cursor: pointer;
    margin-right:0;
}

.link-whatsapp {
    text-decoration: none;
    color: var(--color-uno);
}

.link-whatsapp-text {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    top: 2px;
}

.link-instagram {
    text-decoration: none;
    color: var(--color-uno);
}

.link-instagram-text {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    top: 2px;
}

.link-facebook {
    text-decoration: none;
    color: var(--color-uno);
}

.link-facebook-text {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    top: 2px;
}

/* Footer - Línea intermedia */

.footer_linea {
    border-bottom: solid .1px #FAFAFB;
    position: relative;
    top: 1.5em;
}

/* Footer - Routes */

.footer_routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 1em;
    margin-top: 3em;
}

.footer_routes_logo {
    display: flex;
    align-items: center;
    margin-right: 1vw;
    position: relative;
    bottom: .1em;
}

.footer_routes_logo img {
    width:91px;
    height:104px;
    position: relative;
    bottom: .2em;
}

.footer_routes_logo p {
    font-weight: bold;
    padding-left: .3em;
}

.footer_routes_container_home_navigation {
    display: flex;
    justify-content: space-between;
    width: 39vw;
}

.footer_routes_home-aboutUs {
    display: flex;
    flex-wrap: wrap;
}

.footer_routes_navigation {
    display: flex;
    flex-direction:row;
    position: relative;
    bottom: .6em;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY MOBILE ███████████████████████ ║
    ║ ████████████████████████████ 320 - 480  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px ) and (max-width: 480px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .mobile-navbar-container {
        padding-top: 8px;
    }

    /* Header - Navbar menu button */

    .mobile-navbar-container {
        background-color: var(--color-cinco)!important;
    }

    .dropdown-toggle-nav {
        padding-left: 20px;
        border-radius: 0;
        margin-left: -15px;
    }

    .dropdown-navigation {
        left: 0;
        right: 0;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
        --bs-dropdown-border-color: 0;
    }

    .dropdown-navigation[data-bs-popper] {
        margin-top: 0;
    }

    .dropdown-item-nav {
        padding-left: 24px;
        padding-bottom: 10px;
    }

    /* Header - Navbar languages button */

    .dropdown-languages {
        right: 2px;
        border: solid 1px black;
        border-radius: 0;
        background-color: var(--color-cinco);
    }

    .dropdown-languages[data-bs-popper] {
        left: auto;
    }

    .dropdown-item {
        color: var(--color-uno);
        font-family: var(--font-family-lato);
    }

    /* Header - Opciones */

    .header-options {
        padding-top: 8px;
        color: var(--color-uno);
        height: 60px;
        background-color: var(--color-cinco);
    }

    .header-options-cuadro {
        margin: auto;
        width: 98%;
        background-color: var(--color-seis);
        border-radius: 10px;
        height: 43px; 
    }

    .option-donate {
        display: inline-block;
        background-color: var(--color-tres);
        font-family: var(--font-family-lato);
        color: var(--color-cinco);
        font-weight: 700;
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: 50%;
        height: 90%;
        text-align: center;
    }

    .option-need-help {
        display: inline-block;
        color: var(--color-uno);
        font-family: var(--font-family-lato);
        margin: 2px;
        padding-top: 4px;
        border-radius: 10px;
        width: 45%;
        height: 90%;
        text-align: center;
    }

    .boton-qr{
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 30px;
        width: 15%;
        height: 15%;
    }
    
    .imagen-qr{
        margin-left: 15%;
        width: 45%;
        height: 45%;
        margin-top: 0px;
        margin-bottom: -40%;
    }


    /* Header - Encabezado con títulos */

    .tittles-container {
        height: 798px;
    }

    /* Header - Background */

    .bg-home-mobile {
        position: absolute;
        width: 100%;
        height: 810px;
        top: 54px;
        z-index: -1;
        mix-blend-mode: multiply;
        background-blend-mode: luminosity;
    }

    /* Header - Máscara de color azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        height: 870px;
        top: 0;
        background: #02397A;
        border: 0px solid;
        z-index: -2;
        mix-blend-mode: multiply;
    }

    /* Header - Efecto de wave */

    .wave-mobile {
        position: absolute;
        top: 830px;
        width: 100%;
    }

    /* Header - Títulos */

    .titulos {
        margin-left: 4%;
    }

    .header-titulo {
        font-size: 56px;
        width: 80%;
        line-height: 56px;
        padding-top: 50px;
    }

    .header-subtitulo {
        font-family: var(--font-family-poppins);
        font-weight: 200;
        font-size: 17px;
        width: 73%;
        line-height: 24px;  
        margin-top: 25px;
        text-align: justify;
    }

    .header-subtitulo strong {
        font-size: 17px;
        font-weight: 600;
        width: 80%;
        line-height: 24px;          
    }

    .home-btn {
        width: 150px;
        height: 38px;
        border-radius: 8px;
        color: var(--color-dos);
        font-size: 19px;
        margin-top: 40px;
    }

    .home-btn:hover {
        font-size: 20px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */




    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* Footer - Contenedor principal */

    .footer_container {
        background-color: #001C3D;
        height: 130px;
        padding-left: 14px;
        padding-right: 14px;
        overflow: hidden;
    }

    /* Footer - Redes Sociales */

    .footer_redsocial {
        justify-content: flex-start;
        flex-direction: row;
        top: 23%;
        margin-bottom: 0;
        width: 50%;
    }

    .footer_redsocial img {
        cursor: pointer;
        width: 27px;
        height: 27px;
    }

    .footer_redsocial_instragram img {
        border-radius: 100%;
        width: 29px;
        height: 29px;
        position: relative;
        right: 0; 
    }

    .footer_redsocial_facebook img {
        position: relative;
        right:-4.7em;
    }

    .link-instagram-text {
        display: none;
    }

    .link-facebook-text {
        display: none;
    }

    .link-whatsapp-text {
        display: none;
    }

    /* Footer - Línea intermedia */

    .footer_linea {
        display: none;
    }

    /* Footer - Routes */

    .footer_routes {
        margin-top: 0.8em;
    }

    .footer_routes_logo {
        margin-right: -2px;
    }

    .footer_routes_logo img {
        width: 52px;
        height: 52px;
    }

    .footer-titulo {
        margin-bottom: 12px;
        margin-left: 5px;
        font-family: var(--font-family-poppins);
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0.005em;
    }

    .footer_routes_home-aboutUs {
        display: none;
    }

    .footer_routes_navigation {
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius:8px; 
        position: relative;
        top: -2.7em;
        left: 15%;
    }

    .footer-need-help {
        margin-top: 10px;
        width: 110px;
        white-space: nowrap;
        padding-left: 14px;
    }

    .footer-donate {
        width: 110px;
        margin-top: 12px;
    }
    
    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ████████████████████████████ 481 - 992  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px ) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* Header - Navbar */

    .navbar-mobile {
        margin-left: var(--margin-desktop-1);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-logo{
        margin-left: 0;
    }

    .navbar-contenedor {
        margin-right: 0;
    }

    .navbar-titulo {
        display: none;
    }
    
    .navbar-contenido {
        font-family: var(--font-family-lato);
        margin-right: var(--margin-desktop-1);
    }

    .navbar-home {
        font-size: 0.9em;
        margin-right: 1%;
    }

    .navbar-about-us {
        font-size: 0.9em;
        margin-right: 2%;
        white-space: nowrap;
    }

    .navbar-need-help {
        margin-right: 2%;
        border: 1px solid var(--color-uno);
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .navbar-donate {
        color: var(--color-uno);
        border-radius: 8px;
        font-weight: 900;
        color: var(--color-dos);
        background-color: var(--color-tres);
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -24px;
    }

    /*  Header - Sección idiomas  */

    .navbar-en {
        margin-right: 20%;
    }

    /* Header - Sección Títulos */

    .header-div {
        margin-left: var(--margin-desktop-1);
    }

    .header-titulo {
        font-size: 80px;
        font-family: var(--font-family-lato);
        font-weight: 700;
        line-height: 100px;
        width: 442px;
    }
    
    .header-subtitulo {
        font-size: 20px;
        font-family: 'Poppins';
        text-shadow: 0 0 5px #000000;
        width: 440px;
    }
    
    .header-subtitulo strong {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;  
    }

    .boton-qr{
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 50px;
        width: 80px;
        height: 80px;
    }
    
    .imagen-qr{
        margin-left: -300px;
        width: 270px;
        height: 270px;
        margin-top: 0px;
        margin-bottom: -350px;
    }

    .navbar-contenedor-principal{
        height: 1200px;
    }


    /* Header - Background */
    
    .header-background-imagen {
        height: 1070px;
    }

    /* Header - Máscara azul */

    .header-background-mascara {
        position: absolute;
        width: 100%;
        top: 0;
        height: 1070px;
        background: #02397A;
        border: 1px solid #000000;
        z-index: -2;
        mix-blend-mode: multiply;
    }
    
    /* Header - Efecto wave*/
    
    .wave {
        position: absolute;
        width: 100%;
        height: 130px;
        top: 972px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend-span {
        font-weight: 900;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 200px;
        height: 80px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .footer_container{
        background-color: var(--color-cinco);
        height: 150px;
        max-width: 100vw;
        margin-right: 0;
        margin-left:  0;
        padding-bottom: 1em;
    }

    .footer_redsocial{
        justify-content: flex-end;
        flex-direction:row-reverse;
        top: 1.2em;
        padding-left: 1.5em;
        margin-bottom: 0;
    }

    .footer_redsocial img{
        cursor: pointer;
        margin-right:2.9em;
        width: 27px;
        height: 27px;
    }

    .footer_redsocial_instragram img{
        border-radius: 100%;
        width: 29px;
        height: 29px;
        position: relative;
        right:4.6em; 
    }

    .footer_redsocial_facebook img{
        position: relative;
        right:-4.7em;
    }

    .footer_redsocial a{
        display: none;
    }

    .footer_linea{
        display: none;
    }

    .footer_routes{
        margin-top: 2em;
    }

    .footer_routes_logo{
        margin-right: 0;
    }

    .footer_routes_logo img{
        width: 52px;
        height: 54px;
        position: relative;
        bottom: .2em;
        margin-left: 1em;
    }

    .footer_routes_logo p{
        font-weight:normal;
        width: 150px;
        padding-left: .7em;
        position: relative;
        top: .3em;
    }

    .footer_routes_container_home_navigation{
        width: 100vw;
        display: flex;
        justify-content: flex-end;
    }

    .footer_routes_home-aboutUs{
        display: none;
    }

    .footer_routes_navigation{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████ MEDIA QUERY DESKTOP ███████████████████████ ║
    ║ ███████████████████████████ 993 - 1299  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 993px) and (max-width: 1299px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

	/*  Header - Sección Navbar  */

	.navbar-logo{
		margin-left: var(--margin-desktop-1);
	}

	.navbar-contenido {
		margin-right: var(--margin-desktop-1);
	}

	/*  Header - Sección Títulos  */

	.header-div {
		margin-left: var(--margin-desktop-1);
	}

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend {
        font-size: 1.8rem;
    }

    .list-group {
        border-radius: 1.5rem;
    }

    .list-group-item {
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.1rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .ONG_element_title{
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 400;
    }

    .ONG_element_collapse_info {
        padding: 6px;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 300px;
        height: 90px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO FOOTER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego Valentino Pardo Yepez                           │ */
    /* │ ► Santiago Elias Carranza                               │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .footer_container {
        padding-right: var(--margin-desktop-1);
        padding-left: var(--margin-desktop-1);
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN FOOTER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
    
}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ██████████████████████ MEDIA QUERY DESKTOP HD █████████████████████ ║
    ║ ████████████████████████████ 1300 - ∞  ████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 1300px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend {
        font-size: 1.8rem;
    }

    .list-group {
        border-radius: 1.5rem;
    }

    .list-group-item {
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.5rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .ONG_element_title{
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 400;
    }

    .ONG_element_collapse_info {
        padding: 6px;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 300px;
        height: 90px;
    }
    
    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}