/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Diego N. Cabrera                                      │ */
/* │ ► Luis Romano                                           │ */
/* │ ► Federico Peralta                                      │ */
/* └─────────────────────────────────────────────────────────┘ */

/*  Header - Sección Navbar  */

header {
    height: 970px;
}

/*  Header - Sección Títulos  */

.header-titulo {
    width: 700px;
}

.header-subtitulo {
    width: 600px;
}

/* Header - Sección Donaciones */

.boton-qr{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
}

.imagen-qr{
    margin-left: 120px;
    width: 30%;
    height: 30%;
    margin-top: -300px;
}

#icono-paypal{
    content: url(../img/donate/icon-paypal-disabled.jpg);
}

#icono-twint{
    content: url(../img/donate/icon-twint-disabled.jpg);
}

#icono-zahlteil{
    content: url(../img/donate/icon-zahlteil-disabled.jpg);
}

#icono-paypal:hover{
    content: url(../img/donate/icon-paypal-enabled.jpg);
}

#icono-twint:hover{
    content: url(../img/donate/icon-twint-enabled.jpg);
}

#icono-zahlteil:hover{
    content: url(../img/donate/icon-zahlteil-enabled.jpg);
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */



/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Manuel Florez                                         │ */
/* └─────────────────────────────────────────────────────────┘ */

.content-container {
    margin-bottom: 25px;
}

.ongs-legend {
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
}

.ongs-legend-span {
    font-weight: 800;
}

.list-group-title {
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 800;
    font-size: 1.5rem;
}

.list-group {
    border-radius: unset;
}

.list-group-item {
    border-radius: unset;
    border: 1.5px solid var(--color-dos);
    padding: 0;
}

.ONG_element {
    display: flex;
    flex-direction: row;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
}

.ONG_element_title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--color-dos);
}

.ONG_element_title_arrow {
    margin-left: auto;
    color: var(--color-dos);
    font-size: 1.5rem;
    margin-bottom: 0;
}

.ONG_element_collapse {
    background-color: var(--color-dos);
    color: white;
    padding: 0;
}

.ONG_element_collapse .ONG_element_collapse_title {
    font-size: 1.4rem;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    padding-bottom: 0px;
    margin: 3px;
}

.ONG_element_collapse_info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 4px;
}

.ONG_element_collapse_info .ONG_element_collapse_info_item {
    display: grid;
    place-items: center;
    width: 150px;
    height: 60px;
}

.ONG_element_collapse_info .ONG_element_collapse_info_img {
    background-color: white;
    color: var(--color-dos);
    border-radius: 1.5rem;
    overflow: hidden;
}

.ONG_element_collapse_info .ONG_element_collapse_info_item .ONG_element_collapse_info_item_btn {
    background-color: var(--color-tres);
    color: var(--color-dos);
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY MOBILE ███████████████████████ ║
    ║ ████████████████████████████ 320 - 480  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px ) and (max-width: 480px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /*  Header - Sección Navbar  */

    header {
        height: auto;
    }

    /* Header - Títulos */

    .header-titulo {
        width: 80%;
    }

    .header-subtitulo {
        width: 73%;
        text-align: justify;
    }
    
    /* Header - Opciones */

    .option-donate {
        background-color: var(--color-tres);
        color: var(--color-cinco);
        font-weight: 700;
    }

    /* Header - Sección Donaciones */

    .boton-qr{
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 30px;
        width: 15%;
        height: 15%;
    }
    
    .imagen-qr{
        margin-left: 15%;
        width: 45%;
        height: 45%;
        margin-top: 0px;
        margin-bottom: -40%;
    }


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ████████████████████████████ 481 - 992  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px ) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

    /* Header - Sección Títulos */
    
    .header-subtitulo {
        width: 440px;
    }

    /* Header - Sección Donaciones */

    .boton-qr{
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 50px;
        width: 80px;
        height: 80px;
    }
    
    .imagen-qr{
        margin-left: -300px;
        width: 270px;
        height: 270px;
        margin-top: 0px;
        margin-bottom: -350px;
    }


    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend-span {
        font-weight: 900;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 200px;
        height: 80px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████ MEDIA QUERY DESKTOP ███████████████████████ ║
    ║ ███████████████████████████ 993 - 1299  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 993px) and (max-width: 1299px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ INICIO HEADER ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Diego N. Cabrera                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Federico Peralta                                      │ */
    /* └─────────────────────────────────────────────────────────┘ */

	/*  Header - Sección Navbar  */

	.navbar-logo{
		margin-left: var(--margin-desktop-1);
	}

	.navbar-contenido {
		margin-right: var(--margin-desktop-1);
	}

	/*  Header - Sección Títulos  */

	.header-div {
		margin-left: var(--margin-desktop-1);
	}

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■■ FIN HEADER ■■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */



    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend {
        font-size: 1.8rem;
    }

    .list-group {
        border-radius: 1.5rem;
    }

    .list-group-item {
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.1rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .ONG_element_title{
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 400;
    }

    .ONG_element_collapse_info {
        padding: 6px;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 300px;
        height: 90px;
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}



/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ██████████████████████ MEDIA QUERY DESKTOP HD █████████████████████ ║
    ║ ████████████████████████████ 1300 - ∞  ████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media(min-width: 1300px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO CONTENIDO ■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Manuel Florez                                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    .ongs-legend {
        font-size: 1.8rem;
    }

    .list-group {
        border-radius: 1.5rem;
    }

    .list-group-item {
        border: 2px solid var(--color-dos) !important;
        border-radius: 1.5rem;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .ONG_element_title{
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 400;
    }

    .ONG_element_collapse_info {
        padding: 6px;
    }

    .ONG_element_collapse_info .ONG_element_collapse_info_item {
        width: 300px;
        height: 90px;
    }
    
    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN CONTENIDO ■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */

}