@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

:root {
    /*Colors Palette*/
    --sky-blue-color: #4594D9;
    --blue-color: #034C8C;
    --dark-blue-color: #1C3661;
    --light-gray-color: #E6E6E6;
    --white-color: #FFFFFF;
    --separator: #33BEE8;
    

    /* Fonts */
    --ubuntu-font: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ubuntu-font);
    scroll-behavior: smooth;
}


/* !--------------- Starts Scrollbar Styling -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color); 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color); 
}
/* !--------------- Finishes Scrollbar Styling -------------- */


/* !--------------- Starts Navbar Styling -------------- */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 1rem 2rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 1rem 2rem;
    background-color: var(--white-color);
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.12);
}

.navbar .max-width {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-inkua {
    height: 100%;
    position: relative;
    z-index: 30;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    position: relative;
    display: block;
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: var(--blue-color);
}
.navbar.sticky .menu li a:hover {
    color: var(--blue-color);
}
.navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 25px;
    bottom: 0;
    left: 0;
    background-color: var(--blue-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar .menu li a:hover::before {
    transform: scaleX(1);
}

.navbar .ingresar-btn {
    width: 120px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .ingresar-btn:hover {
    transform: scale(1.05);
}

.navbar .donar-btn {
    width: 120px;
    background-color: var(--blue-color);
    color: var(--white-color) !important;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .donar-btn:hover {
    transform: scale(1.05);
}

.bars-btn {
    padding: 10px;
    color: var(--dark-blue-color);
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    background: var(--dark-blue-color);
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4.5rem;
    color: #fff;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 3rem;
    opacity: 1;
    pointer-events: auto;
}
/* !--------------- Finishes Navbar Styling -------------- */


/* !--------------- Starts Ser Parte (SECTION 1) Styling -------------- */
.section1-ser-parte {
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-ser-parte .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-ser-parte .container {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section1-ser-parte .container .title {
    padding: 4rem 0;
    color: var(--dark-blue-color);
    font-size: 4.2rem;
    text-align: center;
}
.section1-ser-parte .container .subcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.section1-ser-parte .max-width .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.section1-ser-parte .max-width .left .subtitle {
    font-size: 3.5rem;
    color: var(--blue-color);
}

.section1-ser-parte .container .subcontainer .left .line {
    border-top: 5px solid var(--separator);
    width: 53px;
}

.section1-ser-parte .max-width .left .description {
    max-width: 540px;
    font-size: 2.5rem;
}

.section1-ser-parte .max-width .left .unirse-btn {
    width: max-content;
    padding: 10px 40px;
    border: none;
    background: var(--dark-blue-color);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    font-weight: 500;
    font-size: 2.6rem;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
    transition: scale 0.3s ease;
}
.section1-ser-parte .max-width .left .unirse-btn:hover {
    transform: scale(1.05);
}

.section1-ser-parte .container .subcontainer .right {
    background-color: var(--dark-blue-color);
    max-width: 60rem;/*  width: 40rem;*/
    height: max-content;
    border-radius: 30px;
    color: var(--white-color);
    font-size: 2.3rem;
    padding: 35px 25px;
}

.section1-ser-parte .max-width .right .subtitle {
    font-weight: bolder;
    font-style: italic;

    margin-bottom: 10px;
}
.section1-ser-parte .max-width .right ul {
    padding-top: 15px;
    line-height: 38px;
    margin: -5px 0px 0px 25px;
}
.section1-ser-parte .max-width .right ul .requirement {
    font-weight: 400;
}
/* !--------------- Finishes Ser Parte (SECTION 1) Styling -------------- */


/* !--------------- Starts Frase 1 (SECTION 2) Styling -------------- */

/*
* SECTION 2 STYLING GOES HERE
* ASSIGNED TO: Lucía Canevaro */
.section2-frase1, .section4-frase2, .section6-frase3 {
    
    display: flex;
    justify-content: center;
}
.section2-frase1 .max-width, .section4-frase2 .max-width, .section6-frase3 .max-width {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}
.section2-frase1 {
    background-color: rgba(28, 54, 97, 0.3);
}
.section4-frase2 {
    background-color: rgba(3, 76, 140, 0.3)
}
.section6-frase3 {
    background-color: rgba(69, 148, 217, 0.3);
}
.section2-frase1-containerI, .section4-frase2-containerI, .section6-frase3-containerI{
    max-height: 100%;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.section2-frase1-containerII, .section4-frase2-containerII, .section6-frase3-containerII{
    text-align: center;
}
.section2-frase1-name, .section4-frase2-name, .section6-frase3-name {
    color: #24416e;
    font-weight: 600;
    font-size: 1.5rem ;
}
.section2-frase1-area, .section4-frase2-area, .section6-frase3-area {
    color: #03355e;
    padding-bottom: 12px;
    font-size: 2rem;
}
.section2-frase1-frase, .section4-frase2-frase, .section6-frase3-frase {
    color:#034C8C;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 2rem;
    font-style: italic;
}
.section2-frase1-quotes img, .section4-frase2-quotes img, .section6-frase3-quotes img{
    width: 150px;
    object-fit: contain;
    position: absolute;
    top: -45px;
    right: 0;
}
/* !--------------- Finishes Frase 1 (SECTION 2) Styling -------------- */


/* !--------------- Starts Mentores (SECTION 3) Styling -------------- */

/*
* SECTION 3 STYLING GOES HERE
* ASSIGNED TO: Pedro Gascon
*/

/* !--------------- Finishes Mentores (SECTION 3) Styling -------------- */


/* !--------------- Starts Frase 2 (SECTION 4) Styling -------------- */

/*
* SECTION 4 STYLING GOES HERE
* ASSIGNED TO: Lucía Canevaro
*/

/* !--------------- Finishes Frase 2 (SECTION 4) Styling -------------- */


/* !--------------- Starts Organizaciones (SECTION 5) Styling -------------- */
.section5-organizaciones {
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5-organizaciones .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5-organizaciones .container {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section5-organizaciones .container .subcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.section5-organizaciones .max-width .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.section5-organizaciones .max-width .left .subtitle {
    font-size: 3.5rem;
    color: var(--blue-color);
}

.section5-organizaciones .container .subcontainer .left .line {
    border-top: 5px solid var(--separator);
    width: 53px;
}

.section5-organizaciones .max-width .left .description {
    max-width: 540px;
    font-size: 2.5rem;
}

.section5-organizaciones .max-width .left .important-description {
    max-width: 540px;
    font-size: 2.5rem;
    color: var(--blue-color);
    font-weight: bold;
}

.section5-organizaciones .max-width .left .unirse-btn {
    width: max-content;
    padding: 10px 40px;
    border: none;
    background: var(--sky-blue-color);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    font-weight: 500;
    font-size: 2.6rem;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
    transition: scale 0.3s ease;
}
.section5-organizaciones .max-width .left .unirse-btn:hover {
    transform: scale(1.05);
}

.section5-organizaciones .container .subcontainer .right {
    background-color: var(--sky-blue-color);
    max-width: 60rem;/*  width: 40rem;*/
    height: max-content;
    border-radius: 30px;
    color: var(--white-color);
    font-size: 2.3rem;
    padding: 35px 25px;
}

.section5-organizaciones .max-width .right .subtitle {
    font-weight: bolder;
    font-style: italic;

    margin-bottom: 10px;
}
.section5-organizaciones .max-width .right ul {
    padding-top: 15px;
    line-height: 38px;
    margin: -5px 0px 0px 25px;
}
.section5-organizaciones .max-width .right ul .requirement {
    font-weight: 400;
}
/* !--------------- Finishes Organizaciones (SECTION 5) Styling -------------- */


/* !--------------- Starts Frase 3 (SECTION 6) Styling -------------- */

/*
* SECTION 6 STYLING GOES HERE
* ASSIGNED TO: Lucía Canevaro
*/

/* !--------------- Finishes Frase 3 (SECTION 6) Styling -------------- */


/* !--------------- Starts Footer (FOOTER) Styling -------------- */
.footer {
    min-width: 100%;
    padding: 5rem 1rem;
    background-color: #F6F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border: 1px solid #D9D9D9;
}

.footer .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.footer .container .subcontainer {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .container .subcontainer .box-group {
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.footer .container .subcontainer .box-group .title {
    padding: 0.8rem;
}

.footer .container .subcontainer .box-group .sections-list li {
    list-style: none;
    padding: 0.5rem;
}

.footer .container .subcontainer .box-group .sections-list li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}
.footer .container .subcontainer .box-group .sections-list li a:hover {
    color: var(--sky-blue-color);
    transform: scaleX();
}

.footer .container .subcontainer .box-group .sections-list li i {
    padding: 0.3rem;
}

.footer .container .subcontainer .box-group .contact-description {
    padding: 0.7rem;
}

.footer .container .subcontainer .box-group .social-media-icons {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.footer .container .subcontainer .box-group .social-media-icons a {
    padding: 1rem 1rem;
    color: #8094b7;
    transition: 400ms;
}
.footer .container .subcontainer .box-group .social-media-icons a:hover {
    color: var(--dark-blue-color);
    transform: scale(1.5);
}
/* !--------------- Finishes Footer (FOOTER) Styling -------------- */

@media (max-width: 1200px) {
    .section1-ser-parte .container .subcontainer, .section5-organizaciones .container .subcontainer {
        justify-content: space-evenly;
        gap: 30px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: var(--white-color);
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
        top: 32px;
    }
    .section2-frase1-quotes img, .section4-frase2-quotes img, .section6-frase3-quotes img{
        width: 135px;
        object-fit: contain;
        position: absolute;
        top: -45px;
        right: 15px;
    }
}

@media (max-width: 539px) {
    .section2-frase1-quotes img, .section4-frase2-quotes img, .section6-frase3-quotes img{
        width: 115px;
        object-fit: contain;
        position: absolute;
        top: -42px;
    }
    .section7-newsletter {
        padding: 8rem 1rem;
    }
    .section7-newsletter .container .email-form .input-email {
        width: auto;
    }

    .footer {
        padding: 5rem 1rem;
    }
    .footer .container .subcontainer {
        width: 550px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer .container .subcontainer .box-group {
        width: 250px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .container .subcontainer .box-group .logo-inkua {
        margin: 0 auto;
    }
}

@media (max-width: 430px) {
    .section2-frase1-quotes img, .section4-frase2-quotes img, .section6-frase3-quotes img{
        width: 90px;
        top: -30px;
    }
}

@media (max-width: 400px) {
    .section2-frase1-quotes img, .section4-frase2-quotes img, .section6-frase3-quotes img{
        width: 80px;
        top: -27px;
    }
}