@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

:root {
    /*Colors Palette*/
    --sky-blue-color: #4594D9;
    --blue-color: #034C8C;
    --dark-blue-color: #1C3661;
    --light-gray-color: #E6E6E6;
    --white-color: #FFFFFF;
    --separator: #33BEE8;
    

    /* Fonts */
    --ubuntu-font: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ubuntu-font);
    scroll-behavior: smooth;
}


/* !--------------- Starts Navbar Styling -------------- */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 1rem 2rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 1rem 2rem;
    background-color: var(--white-color);
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.12);
}

.navbar .max-width {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-inkua {
    height: 100%;
    position: relative;
    z-index: 30;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    position: relative;
    display: block;
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: var(--blue-color);
}
.navbar.sticky .menu li a:hover {
    color: var(--blue-color);
}
.navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 25px;
    bottom: 0;
    left: 0;
    background-color: var(--blue-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar .menu li a:hover::before {
    transform: scaleX(1);
}

.navbar .ingresar-btn {
    width: 120px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .ingresar-btn:hover {
    transform: scale(1.05);
}

.navbar .donar-btn {
    width: 120px;
    background-color: var(--blue-color);
    color: var(--white-color) !important;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .donar-btn:hover {
    transform: scale(1.05);
}

.bars-btn {
    padding: 10px;
    color: var(--dark-blue-color);
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    background: var(--dark-blue-color);
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4.5rem;
    color: #fff;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 3rem;
    opacity: 1;
    pointer-events: auto;
}
/* !--------------- Finishes Navbar Styling -------------- */


/* !--------------- Starts Unirse (SECTION 1) Styling -------------- */
.section1-unirse {
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    background: url("../img/inicio/section1-unirse-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-unirse .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section1-unirse .container {
    padding: 50px;
    width: 580px;
    height: max-content;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 0 90px 0 90px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.section1-unirse .container .title {
    font-weight: 700;
    font-size: 5.5rem;
    color: var(--blue-color);
}

.section1-unirse .container .description {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 150.9%;
    color: #000000;
}

.section1-unirse .container .unirse-btn {
    width: 200px;
    padding: 10px;
    background: var(--blue-color);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 30px;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
}
/* !--------------- Finishes Unirse (SECTION 1) Styling -------------- */


/* !--------------- Starts Ser Parte Reasons (SECTION 2) Styling -------------- */

.section2-ser-parte-reasons {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.section2-ser-parte-reasons .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section2-ser-parte-reasons .content-section2 {
    width: 100%;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
}

.section2-ser-parte-reasons .content-section2 .title {
    padding: 2rem 0;
    color: var(--dark-blue-color);   
    font-size: 5rem;
    text-align: center;
}

.section2-ser-parte-reasons .reasons-container {
    padding: 2rem 0;
    color: var(--dark-blue-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 3rem;
}

.section2-ser-parte-reasons .reasons-container .left, .right {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section2-ser-parte-reasons .reasons-container .reason {
    display: flex;
    min-height: 90px;
    gap: .3em;
}

.section2-ser-parte-reasons .reasons-container .reason .vineta {
    color: var(--sky-blue-color);
}

/* !--------------- Finishes Ser Parte Reasons (SECTION 2) Styling -------------- */


/* !--------------- Starts Ser Parte (SECTION 3) Styling -------------- */

.section3-ser-parte
{
    background-image: url("../img/inicio/section3-ser-parte-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: var(--ubuntu-font);
}

.max-width
{
    /* display: block; */
    height: 100%;
}

.text-section3
{
    color: var(--dark-blue-color);
    background: #fff;
    background: linear-gradient(90deg,
    rgba(255, 255, 255, .95) .4%,
    rgba(255, 255, 255, .95) 26.22%,
    rgba(255, 255, 255, 0) 69.62%);
    /* position: absolute; */
    height: 100%;
}

.section3-ser-parte .max-width .text-section3 .textos
{
    width: 70%;
    height: 60%;
    margin: 0 20rem;
    padding: 8rem 0;

}

.textos h1
{
    width: 50%;
    font-size: 3rem;
    font-weight: 500;
}

.textos p
{
    font-style: normal;
    font-size: 2.6rem;
    width: 50%;
    margin: 1.5rem 0;
}

.textos p span
{
    font-weight: 600;
}

.btnser-parte
{
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 50px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    width: 200px;
    height: 50px;
}

/* !--------------- Finishes Ser Parte (SECTION 3) Styling -------------- */


/* !--------------- Starts Ingresar (SECTION 4) Styling -------------- */


.section4-ingresar{
    width: 100%;
    min-height: 450px;
    background: var(--white-color);
    border-radius: 50px 50px 0px 0px;
    padding: 50px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4-ingresar .max-width {
    height: 100%;
    max-width: 1200px;
    display: column;
    justify-content: center;
    align-items: center;
}

.section4-ingresar .max-width .section4-ingresar_logo{
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
    
}

.section4-ingresar_texto{
   height: 100%;
   margin: 0 auto;
   padding: 10px;
}

.section4-ingresar_texto .section4-ingresar_texto_text-oscuro{
    font-family: var(--ubuntu-font);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    color: var(--blue-color);
    padding: 10px;
}

.section4-ingresar_texto  .section4-ingresar_texto_text-claro{
    color: var(--blue-color);
    font-weight: 400;
    font-family: var(--ubuntu-font);
}

.section4-ingresar_texto .section4-ingresar_texto_parrafo{
    font-family: var(--ubuntu-font);
    text-align: center;
    font-size: 2.1rem;
    font-weight: 300;
    padding: 10px;
    line-height: 140%;
    color: #000000;
}

.section4-ingresar_texto button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 10px auto;
    background-color: var(--blue-color);
    border: none;
    border-radius: 30px;
}

.section4-ingresar_texto .section4-ingresar_texto_boton{
    font-family: var(--ubuntu-font);
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    color: var(--white-color);

}
/* !--------------- Finishes Ingresar (SECTION 4) Styling -------------- */


/* !--------------- Starts Inkua Números (SECTION 5) Styling -------------- */
.section5-inkua-numeros {
    background-color: var(--blue-color);
    width: 100%;
    padding: 1rem 2rem;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5-inkua-numeros .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5-inkua-numeros .container {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5-inkua-numeros .container .title {
    font-size: 5rem;
    text-align: center;
}

.section5-inkua-numeros .container .line {
    margin-top: 23.5px;
    margin-bottom: 35.5px;
    border-top: 5px solid var(--separator);
    width: 53px;
}

.section5-inkua-numeros .container .statistics {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section5-inkua-numeros .container .statistics > div {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section5-inkua-numeros .container .statistics .quantity {
    font-size: 7.2rem;
}

.section5-inkua-numeros .container .statistics .img-container {
    height: 116px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5-inkua-numeros .container .statistics .subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    min-height: 60px;
}
/* !--------------- Finishes Inkua Números (SECTION 5) Styling -------------- */


/* !--------------- Starts Partners (SECTION 6) Styling -------------- */
.section6-partners {
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6-partners .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6-partners .container {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section6-partners .container .logo-container {
    padding: 30px 10px;
}

.section6-partners .container .logo-container .partner {
    height: 100%;
}
/* !--------------- Finishes Partners (SECTION 6) Styling -------------- */


/* !--------------- Starts Newsletter (SECTION 7) Styling -------------- */

.section7-newsletter{ 
    background-image: url("../img/inicio/section7-newsletter-bg.png");
    background-color: #1C3661;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-attachment:scroll;
    width: 100%;
    height: 450px;
    text-align: center;
    filter: box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section7-newsletter h2{
    font-family:'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #ffffff;
    padding-top: 76px;
    line-height: 40px;
}
.section7-newsletter p{
    font-family:'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #f5f5f5;
    padding-top: 22px;
    margin-bottom: 20px;
}
.section7-newsletter input{
    width: 424px;
    height: 42px;
    font-family:'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    border-radius: 30px;
    border: none; 
    padding: 20px;
}
.section7-newsletter button{
    width: 177px;
    height: 53px;
    font-family:'Ubuntu', sans-serif;
    font-size: 2.5rem;
    border-radius: 30px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 20px;
    color: #ffffff;
    background-color: #034C8C;
}
/* !--------------- Finishes Newsletter (SECTION 7) Styling -------------- */


/* !--------------- Starts Footer (FOOTER - SECTION 8) Styling -------------- */


.footer {
    width: 100%;
    padding: 1rem 15rem;
    height: 100%;
    
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 2px solid #E6E6E6;
    border-radius: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.footer .container{
    display: flex;
    flex: wrap;
    justify-content: space-between;

}


/* ------ Secciones ----------------*/
.footer .container .box-group h3:hover{
    padding: 0.8rem;
}

.footer .container .box-group ul li{
    list-style: none;
    padding: 0.5rem;
}

.footer .container .box-group ul li:hover{
    
    color: #034C8C;
    transition: color 0.3s;
    transform: scaleX();
}

.footer .container .box-group ul li i{
    padding: 0.3rem;
}




/*--------------- Contacts -------------------*/

.footer .container .box-group p{
    
    padding: 0.7rem;
}


/*--------------------- Siguenos + Icons ---------------------*/

.footer .container .box-group h3{
    padding: 0.8rem;
}

.footer .container .box-group .icons-one{
    
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    
}

.footer .container .box-group .icons-one a{
    padding: 1rem 1rem; 
    color:#E6E6E6 ;
}

.footer .container .box-group .icons-one a:hover{
    color: #1C3661;
    transform: scale(1.5);
    transition: 400ms;
}



.footer .container .box-group .icons-two{
    
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;   
}

.footer .container .box-group .icons-two a{
    padding: 1rem 1rem;
    color:#E6E6E6 ; 
    
}

.footer .container .box-group .icons-two a:hover{
    color: #1C3661;
    transform: scale(1.5);
    transition: 400ms;
}

/* !--------------- Finishes Footer (FOOTER - SECTION 8) Styling -------------- */


@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: var(--white-color);
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
        top: 32px;
    }
}