@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

:root {
    /*Colors Palette*/
    --sky-blue-color: #4594D9;
    --blue-color: #034C8C;
    --dark-blue-color: #1C3661;
    --light-gray-color: #E6E6E6;
    --white-color: #FFFFFF;
    --separator: #33BEE8;
    --black-color: #000000;
    

    /* Fonts */
    --ubuntu-font: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ubuntu-font);
    scroll-behavior: smooth;
}


/* !--------------- Starts Scrollbar Styling -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color); 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color); 
}
/* !--------------- Finishes Scrollbar Styling -------------- */

body{
  background-color: var(--dark-blue-color);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.titulo h1{
  color: var(--white-color);
  font-family: var(--ubuntu-font);
  font-weight: 700;
  font-size: 10rem;
  text-align: center;
}

.form{
  max-width: 300px;
  height: auto;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 10px;
}

.form .form_titulo{
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: var(--ubuntu-font);
  padding: 10px;
  gap: 5px;
}

.form span{
  font-weight: 700;
}

.form .form_parafo{
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--ubuntu-font);
  font-weight: 300;
  padding: 10px 10px 0px 10px;
}

.form_contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.form_contenedor .form_grupo{
  padding: 5px;
  position: relative;
}

.form_contenedor .form_grupo .icon{
  color: var(--black-color);
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  top: 17px;
  left: 232px;
}

.form_contenedor .form_grupo .form_input{
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--light-gray-color);
}

.form_contenedor .form_grupo .form_input input:focus, input[type]:focus{
  border-color: #4594D9;
  box-shadow: 0 1px 1px #f5f5f5 inset, 0 0 8px #4594D9;
  outline: 0 none;
}


.form_contenedor .checkbox{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form_contenedor .checkbox label{
  font-size: 1.2rem;
  font-family: var(--ubuntu-font);
  font-weight: 300;
}

.form_contenedor .bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.form_contenedor .bottom .btn{
  width: 100px;
  height: 35px;
  background-color: var(--dark-blue-color);
  border: none;
  color: var(--white-color);
  font-family: var(--ubuntu-font);
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.form_contenedor .bottom a{
  color: var(--sky-blue-color);
  text-decoration: none;
}

.idioma{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}

.idioma h3{
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white-color);
}

@media (max-width: 385px) {
  .titulo{
    padding: 0px 10px;
  }
  .form{
    margin: 10px auto;
  }
  .container {
    padding: 20px 0;
  }
}

























