@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

:root {
    /*Colors Palette*/
    --sky-blue-color: #4594D9;
    --blue-color: #034C8C;
    --dark-blue-color: #1C3661;
    --light-gray-color: #E6E6E6;
    --white-color: #FFFFFF;
    --separator: #33BEE8;
    

    /* Fonts */
    --ubuntu-font: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ubuntu-font);
    scroll-behavior: smooth;
}


/* !--------------- Starts Scrollbar Styling -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color); 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color); 
}
/* !--------------- Finishes Scrollbar Styling -------------- */


/* !--------------- Starts Navbar Styling -------------- */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 1rem 2rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 1rem 2rem;
    background-color: var(--white-color);
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.12);
}

.navbar .max-width {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-inkua {
    height: 100%;
    position: relative;
    z-index: 30;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    position: relative;
    display: block;
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: var(--blue-color);
}
.navbar.sticky .menu li a:hover {
    color: var(--blue-color);
}
.navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 25px;
    bottom: 0;
    left: 0;
    background-color: var(--blue-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar .menu li a:hover::before {
    transform: scaleX(1);
}

.navbar .ingresar-btn {
    width: 120px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .ingresar-btn:hover {
    transform: scale(1.05);
}

.navbar .donar-btn {
    width: 120px;
    background-color: var(--blue-color);
    color: var(--white-color) !important;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .donar-btn:hover {
    transform: scale(1.05);
}

.bars-btn {
    padding: 10px;
    color: var(--dark-blue-color);
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    background: var(--dark-blue-color);
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4.5rem;
    color: #fff;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 3rem;
    opacity: 1;
    pointer-events: auto;
}
/* !--------------- Finishes Navbar Styling -------------- */


/* !--------------- Starts Sobre Nosotros (SECTION 1) Styling -------------- */

/*
* SECTION 1 STYLING GOES HERE
* ASSIGNED TO: Lucía Canevaro */

.section1-sobre-nosotros {
    padding: 5% 5% 0 5%;
    text-align: center;
}
.section1-sobre-nosotros .max-width {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section1-sobre-nosotros .max-width .title {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C3661;
    font-weight: 600;
    font-size: 2.2rem;
    flex: 0 0 auto;
}
.section1-containerI {
    display: flex;
    flex-direction: column;  
}
.section1-containerII {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}
.section1-containerII .section1-content {
    padding: 3rem;
    width: 40%;
    margin-left: 10rem;
}
.border-about {
    border-top: 4px solid #33bee8;
    width: 10%;
    margin-bottom: 20px;
}
.section1-containerII .subtitle {
    color: #034C8C;
    font-size: 1.8rem;
    font-weight: 400; 
    margin-bottom: 0.5rem;   
}
.subtitle .strong{
    font-weight: bolder; 
}
.section1-containerII p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.section1-containerII .section1-content1{
    color: black;
    margin-top: 30px;
    margin-bottom: 1.5rem;
    font-size: 1.8rem; 
    font-weight: 400;
}
.section1-containerII .section1-content2{
    color: #1C3661;
    margin-top: 30px;
    margin-bottom: 1.5rem;
    font-size: 1.8rem; 
    font-weight: 500;
}
.section1-sobre-nosotros .max-width .section1-containerI .section1-containerII .section1-img {
    width: 40%;
}
.section1-sobre-nosotros .max-width .section1-containerI .section1-containerII .section1-img img{
    border-radius: 0.5rem;
    max-width: 80%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 7rem;
    vertical-align: middle;
    border-style: none;
}
.section1-containerII .section1-content3, .section1-content4{
    color: black;
    margin-top: 30px;
    margin-bottom: 1.5rem;
    font-size: 1.8rem; 
    font-weight: 400;
}

@media screen and (min-width: 1200px) {
    .section1-containerII p{
        text-align: left;
    }
    .section1-containerII .subtitle{
        text-align: left;
    }
    .section1-sobre-nosotros .max-width .section1-containerI .section1-containerII .section1-img {
        display: block;
    }
}

/* dejar todo centrado en pantallas de menos de 1200px
@media screen and (max-width: 1200px) {
    
    .section1-sobre-nosotros .max-width .section1-containerI {
        display: flex;
        flex-direction: column;    
    }
    .section1-sobre-nosotros .max-width .section1-containerII {
        display: flex;
        flex-wrap: wrap;    
    }
    .section1-sobre-nosotros .max-width .section1-containerI .section1-containerII .section1-content {
        width: 100%;   
    }
}*/

/* !--------------- Finishes Sobre Nosotros (SECTION 1) Styling -------------- */


/* !--------------- Starts Nuestros Proyectos (SECTION 2) Styling -------------- */

/*
* SECTION 2 STYLING GOES HERE
* ASSIGNED TO: Débora Cuestas
*/

/* !--------------- Finishes Nuestros Proyectos (SECTION 2) Styling -------------- */


/* !--------------- Starts Departamentos (SECTION 3) Styling -------------- */

.section3-departamentos .max-width
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section3-departamentos .max-width .title
{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C3661;
    font-size: 1.6rem;
}

.section3-departamentos .max-width .content-cards
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.section3-departamentos .card
{
    position: relative;
    width: 300px;
    height: 180px;
}

.section3-departamentos .card .face
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}

.section3-departamentos .card .front
{
    transform: perspective(600px) rotateY(0deg);
}

.section3-departamentos .card .front img
{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.section3-departamentos .card .front h4
{
    width: 100%;
    height: 48px;
    background-color: #034C8C;
    line-height: 48px;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.section3-departamentos .card .back
{
    transform: perspective(600px) rotateY(180deg);
    background-color: #034C8C;
    padding: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
}

.section3-departamentos .card .back h4
{
    font-weight: 400;
    text-transform: uppercase;
}

.section3-departamentos .card .back p
{
    text-align: justify;
    font-style: italic;
}

.section3-departamentos .card:hover .front
{
    transform: perspective(600px) rotateY(180deg);
}

.section3-departamentos .card:hover .back
{
    transform: perspective(600px) rotateY(360deg);
}


/* !--------------- Finishes Departamentos (SECTION 3) Styling -------------- */


/* !--------------- Starts Footer (FOOTER) Styling -------------- */

/* FOOTER CONTENT GOES HERE */
/* ASSIGNED TO: Pedro Gascon (Refactor and Insertion) */

/* !--------------- Finishes Footer (FOOTER) Styling -------------- */

@media (max-width: 947px) {
    
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: var(--white-color);
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
        top: 32px;
    }
}