@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
    /*Colors Palette*/
    --sky-blue-color: #4594D9;
    --blue-color: #034C8C;
    --dark-blue-color: #1C3661;
    --light-gray-color: #E6E6E6;
    --white-color: #FFFFFF;
    --separator: #33BEE8;
    

    /* Fonts */
    --ubuntu-font: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ubuntu-font);
    scroll-behavior: smooth;
}


/* !--------------- Starts Scrollbar Styling -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color); 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color); 
}
/* !--------------- Finishes Scrollbar Styling -------------- */


/* !--------------- Starts Navbar Styling -------------- */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 1rem 2rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 1rem 2rem;
    background-color: var(--white-color);
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.12);
}

.navbar .max-width {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-inkua {
    height: 100%;
    position: relative;
    z-index: 30;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    position: relative;
    display: block;
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: var(--blue-color);
}
.navbar.sticky .menu li a:hover {
    color: var(--blue-color);
}
.navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 25px;
    bottom: 0;
    left: 0;
    background-color: var(--blue-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar .menu li a:hover::before {
    transform: scaleX(1);
}

.navbar .ingresar-btn {
    width: 120px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .ingresar-btn:hover {
    transform: scale(1.05);
}

.navbar .donar-btn {
    width: 120px;
    background-color: var(--blue-color);
    color: var(--white-color) !important;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--blue-color);
    transition: all 0.3s ease;
}
.navbar .donar-btn:hover {
    transform: scale(1.05);
}

.bars-btn {
    padding: 10px;
    color: var(--dark-blue-color);
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    background: var(--dark-blue-color);
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4.5rem;
    color: #fff;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 3rem;
    opacity: 1;
    pointer-events: auto;
}
/* !--------------- Finishes Navbar Styling -------------- */


/* !--------------- Starts Sobre Nosotros (SECTION 1) Styling -------------- */
.section1-sobre-nosotros {
    background-color: var(--white-color);
    width: 100%;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1-sobre-nosotros .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-sobre-nosotros .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section1-sobre-nosotros .title {
    padding: 4rem 0;
    color: var(--dark-blue-color);
    font-size: 4.2rem;
}

.section1-sobre-nosotros .subcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 40px;
}

.section1-sobre-nosotros .subcontainer .line {
    border-top: 5px solid var(--separator);
    width: 53px;
}

.section1-sobre-nosotros .subcontainer .top, .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px
}

.section1-sobre-nosotros .subcontainer .top .subtitle, .bottom .subtitle {
    font-size: 4rem;
    font-weight: 500;
    color:  var(--blue-color);
}

.section1-sobre-nosotros .subcontainer .top .subtitle span, .bottom .subtitle span {
    font-weight: bolder;
}

.section1-sobre-nosotros .subcontainer .top .description, .bottom .description {
    font-size: 2.3rem;
}

.section1-sobre-nosotros .subcontainer .top .description span, .bottom .description span {
    color: var(--blue-color);
    font-weight: 500;
    font-style: italic;
}

.section1-sobre-nosotros .subcontainer .top .important-description {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--dark-blue-color);
}

.section1-sobre-nosotros .subcontainer .top .left, .bottom .left {
    max-width: 565px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.section1-sobre-nosotros .subcontainer .top .right, .bottom .right {
    max-width: 565px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.section1-sobre-nosotros .subcontainer .top .right img {
    max-width: 530px;
}
/* !--------------- Finishes Sobre Nosotros (SECTION 1) Styling -------------- */


/* !--------------- Starts Nuestros Proyectos (SECTION 2) Styling -------------- */
.section2-nuestros-proyectos{
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-color: #034c8c;
    border-radius: 120px 120px 0px 0px;
}
  .section2-nuestros-proyectos .max-width{
    width: 100%;
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .section2-title{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2.6rem;
  }
  .section2-nuestros-proyectos .container{
    max-height: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
  }
  .section2-nuestros-proyectos .card {
    width: 320px;
    height: 415px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    text-align: center;
    padding: 50px 10px;
  }
  .section2-nuestros-proyectos .card h3 {
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: #034c8c;
    margin: 20px;
  }
  .section2-nuestros-proyectos .card p {
    font-size: 2.2rem;
    text-align:center;
    font-weight: 400;
    color: #000000;
}
/* !--------------- Finishes Nuestros Proyectos (SECTION 2) Styling -------------- */


/* !--------------- Starts Departamentos (SECTION 3) Styling -------------- */

.section3-departamentos {
    background-color: var(--white-color);
    width: 100%;
    padding: 7rem 0;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3-departamentos .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-departamentos .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

.section3-departamentos .max-width .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C3661;
    font-size: 3rem;
    text-align: center;
}

.section3-departamentos .max-width .content-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.section3-departamentos .card {
    position: relative;
    width: 283px;
    height: 200px;
}

.section3-departamentos .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .9s;
}

.section3-departamentos .card .front {
    transform: perspective(600px) rotateY(0deg);
}

.section3-departamentos .card .front img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.section3-departamentos .card .front h4 {
    width: 100%;
    height: 48px;
    background-color: #034C8C;
    line-height: 48px;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.section3-departamentos .card .front .special-bg {
    background-color: #33BEE8;
}

.section3-departamentos .card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #034C8C;
    padding: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
}

.section3-departamentos .card .back h4
{
    font-weight: 400;
    text-transform: uppercase;
}

.section3-departamentos .card .back p {
    text-align: justify;
    font-style: italic;
}

.section3-departamentos .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.section3-departamentos .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
/* !--------------- Finishes Departamentos (SECTION 3) Styling -------------- */


/* !--------------- Starts Footer (FOOTER) Styling -------------- */
.footer {
    min-width: 100%;
    padding: 5rem 1rem;
    background-color: #F6F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border: 1px solid #D9D9D9;
}

.footer .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .container .subcontainer {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .container .subcontainer .box-group {
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.footer .container .subcontainer .box-group .title {
    padding: 0.8rem;
}

.footer .container .subcontainer .box-group .sections-list li {
    list-style: none;
    padding: 0.5rem;
}

.footer .container .subcontainer .box-group .sections-list li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}
.footer .container .subcontainer .box-group .sections-list li a:hover {
    color: var(--sky-blue-color);
    transform: scaleX();
}

.footer .container .subcontainer .box-group .sections-list li i {
    padding: 0.3rem;
}

.footer .container .subcontainer .box-group .contact-description {
    padding: 0.7rem;
}

.footer .container .subcontainer .box-group .social-media-icons {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.footer .container .subcontainer .box-group .social-media-icons a {
    padding: 1rem 1rem;
    color: #8094b7;
    transition: 400ms;
}
.footer .container .subcontainer .box-group .social-media-icons a:hover {
    color: var(--dark-blue-color);
    transform: scale(1.5);
}
/* !--------------- Finishes Footer (FOOTER) Styling -------------- */

@media (max-width: 1776px) {
    .section3-departamentos {
        padding: 7rem 2rem;
    }
    .section3-departamentos .max-width .content-cards {
        justify-content: space-evenly;
    }
}

@media (max-width: 947px) {
    
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: var(--white-color);
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
        top: 32px;
    }
}

@media (max-width: 539px) {
    .section7-newsletter {
        padding: 8rem 1rem;
    }
    .section7-newsletter .container .email-form .input-email {
        width: auto;
    }

    .footer {
        padding: 5rem 1rem;
    }
    .footer .container .subcontainer {
        width: 550px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer .container .subcontainer .box-group {
        width: 250px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .container .subcontainer .box-group .logo-inkua {
        margin: 0 auto;
    }
}