@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;600;700;800&display=swap');

:root {
    /* Colors Palette */
        /* Neutral Colors */
        --black-color: #1D1F23;
        --white-color: #FFFFFF;
        --very-dark-gray-color: #51565E;
        --dark-gray-color: #757A82;
        --gray-color: #C2C2C2;
        --light-gray-color: #E6EAF0;
        --very-light-gray-color: #F4F6F8;

        /* Primary Colors */
        --primary-blue-color: #4B77C0;
        --primary-yellow-color: #E4C75B;

        /* Blue Colors */
        --blue-color-first: #6399FF;
        --blue-color-second: #4A92F1;
        --blue-color-third: #63ADFF;
        --blue-color-fourth: #63ADCB;

        /* Yellow Colors */
        --yellow-color-first: #FFD45B;
        --yellow-color-second: #FFC700;
        --yellow-color-third: #FFDE7E;
        --yellow-color-fourth: #FFC77E;
    /* End Colors Palette */ 

    /* Fonts */
    --bebas-neue-font: 'Bebas Neue', cursive;
    --eina-03-font: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
    font-family: var(--eina-03-font);
    scroll-behavior: smooth;
}

/* !🚨 README 🚨 */
/* !🚨 PLEASE, USE THE COLORS AND FONTS THAT ARE AT THE ROOT, DON'T WRITE THE COLORS/FONTS MANUALLY 🚨 */
/* !🚨 README 🚨 */
/* !🚨 PLEASE, USE CLEAR CLASS NAMES SO EVERYONE CAN UNDERSTAND ALL 🚨 */
/* !🚨 README 🚨 */
/* !🚨 THIS COULD SERVE YOU AS GUIDE TO UNDERSTAND HOW TO STYLE YOUR SECTION USING MAX-WIDTH CORRECTLY🚨 */
.your-section {
    width: 100%;
    min-height: 450px;
    margin-top: -70px;
    padding: 8rem 2rem;
    background: var(--white-color);
    border-radius: 70px 70px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-section .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
/* !🚨 README 🚨 */
/* !🚨 README 🚨 */
/* !🚨 README 🚨 */
/* !🚨 THIS COULD SERVE YOU AS GUIDE TO UNDERSTAND HOW TO STYLE YOUR SECTION 🚨 */

/* !--------------- Starts NAVBAR Styling -------------- */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 99px;
    padding: 1rem 2rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 1rem 2rem;
    background-color: var(--white-color);
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.12);
}

.navbar .max-width {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-uao {
    width: 6.882rem;
    height: 6.88rem;
    position: relative;
    z-index: 30;
}

.navbar .menu li, .donate li {
    list-style: none;
    display: inline-block;
    z-index: 30;
}

.navbar .menu li a, .donate li a {
    position: relative;
    display: block;
    color: var(--black-color);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: var(--primary-blue-color);
}
.navbar.sticky .menu li a:hover {
    color: var(--primary-blue-color);
}
.navbar .menu li a:not(.donar-btn)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 25px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-blue-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar .menu li a:hover::before {
    transform: scaleX(1);
}

.navbar .donar-btn {
    width: 120px;
    background-color: var(--primary-blue-color);
    color: var(--white-color) !important;
    padding: 10px;
    border-radius: 0.8rem;
    text-align: center;
    border: 1px solid var(--primary-blue-color);
    transition: all 0.3s ease;
}
.navbar .donar-btn:hover {
    background-color: var(--blue-color-first);
    border: 1px solid var(--blue-color-first);
}

.bars-btn {
    padding: 10px;
    color: var(--primary-blue-color);
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}

.navbar .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.navbar .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.navbar .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .switch input:checked + .slider {
  background-color: var(--primary-blue-color);
}

.navbar .switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-blue-color);
}

.navbar .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* !--------------- Finishes NAVBAR Styling -------------- */

/* !--------------- Starts Home (SECTION 1) Styling -------------- */

/*
* SECTION 1 STYLING GOES HERE
* ASSIGNED TO: María Quintana & Jésica Ortiz
*/
h1{
    margin: 5%;
    position: absolute;
    width: 610px;
    height: 196px;
    left: 0px;
    top: 0px;

    font-size: 72px;
    line-height: 84px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #353535;
}

h1.variante{
    position: absolute;
    width: 454px;
    height: 294px;
    left: 0px;
    top: 12%;

    font-family: 'Eina03-Bold';
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.01em;

    background: linear-gradient(93.65deg, #4B77C0 26.71%, #E4C75B 64.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}

a.donate{
    color:#E6EAF0;
    font-size: small;
    text-decoration: none;

    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    position: absolute;
    width: 124px;
    height: 48px;
    left: 0px;
    top: 365px;

    background: #4B77C0;
    border-radius: 8px;
}
/* !--------------- Finishes Home (SECTION 1) Styling -------------- */

/* !--------------- Starts About Us (SECTION 2) Styling -------------- */

/*
* SECTION 2 STYLING GOES HERE
* ASSIGNED TO: Maximiliano Luján & Dana Sabrina Armella
*/

/* !--------------- Finishes About Us (SECTION 2) Styling -------------- */

/* !--------------- Starts Get Involved (SECTION 3) Styling -------------- */

/*
* SECTION 3 STYLING GOES HERE
* ASSIGNED TO: Andrea Lucía Canevaro & Harold Osorio
*/
.section3-get-involved {
    width: 100%;
    min-height: 450px;
    margin-top: 30px;
    padding: 8rem 2rem;
    background: var(--white-color);
    border-radius: 70px 70px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-get-involved .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-get-involved .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 22px;
}

.section3-get-involved .container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
}


.section3-get-involved .container_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    gap: 22px;
}

.section3-get-involved .container_cards-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 320px;
    padding: 17px;
    box-shadow: 0px 0px 30px var(--primary-blue-color);
    border-radius: 6%;
}
/* !--------------- Finishes Get Involved (SECTION 3) Styling -------------- */

/* !--------------- Starts Stories (SECTION 4) Styling -------------- */

/*
* SECTION 4 STYLING GOES HERE
* ASSIGNED TO: Gabriel Vázquez & Nadia Florencia Maldonado
*/

/* !--------------- Finishes Stories (SECTION 4) Styling -------------- */

/* !--------------- Starts Home (SECTION 5) Styling -------------- */

/*
* SECTION 5 STYLING GOES HERE
* ASSIGNED TO: Junior Alejandro Calva Pizarro
*/

/* !--------------- Finishes Home (SECTION 5) Styling -------------- */

/* !--------------- Starts PARTNERS (SECTION 6) Styling -------------- */

/*
* SECTION 6 STYLING GOES HERE
* ASSIGNED TO: Sabrina Demetrio
*/

.section6-partners {
    width: 100%;
    /* min-height: 450px; */
    /* margin-top: -70px; */
    padding: 8rem 2rem; 
    background: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section6-partners .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
} 
.section6-partners .title-partners{
    font-size: 38px;
    font-family: var(--bebas-neue-font);
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
    letter-spacing: 1px;
}

.section6-partners .color-title{
    color: var(--primary-blue-color)
}

.title-partners::before {
    content: "";
    position: absolute;
    margin-top:1.9%;
    width: 22%;
    height: 1px;
    background-color: var(--gray-color);
  }

.title-partners::after {
    content: "";
    position: absolute;
    margin-top: -2.2%;
    width: 25%;
    height: 1px;
    background-color: var(--gray-color);
  }

.title-partners::before {
  left: 5%;
}

.title-partners::after {
    right: 2.5%;
}

.section6-partners .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}



/* !--------------- Finishes PARTNERS (SECTION 6) Styling -------------- */

/* !--------------- Starts FOOTER Styling -------------- */

/*
* FOOTER STYLING GOES HERE
* ASSIGNED TO: Rafael Rivera
*/

.footer {
    box-shadow: 1px 1px 88px #4b77c024;
    flex-direction: column;
    gap: 33px;
    mix-blend-mode: normal;
    padding: 42px 0;
    position: absolute;
    top: 4097px;
    width: 100%;
    min-height: 450px;
    margin-top: -70px;
    padding: 8rem 2rem;
    background: var(--white-color);
    border-radius: 70px 70px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .max-width {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.flex-col-1 {
    align-items: flex-start;
    gap: 47px;
    margin-right: 2px;
    min-height: 72px;
    width: 100%;
}

.homepage-prototipoanimado2 .flex-col-3 {
    display: flex;
    flex-direction: column;
}

.line-3 {
    width:auto;
}

.homepage-prototipoanimado2 .line {
    height: 1px;
    object-fit: cover;
}

.homepage-prototipoanimado2 .line {
    height: 1px;
    object-fit: cover;
}

.copyright-2022-ua {
    color: var(--scarpa-flow);
    line-height: 24px;
    margin-left: 80px;
    white-space: nowrap;
    font-weight: 400;
    height: 24px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    align-items: center;
    display: flex;
    margin-right: 90.44px;
    min-width: 1830px;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
    margin-left: 177px;
    min-height: 73px;
    width: 689px;
}

.flex-row-2 {
    align-items: flex-end;
    display: flex;
    height: 49px;
    min-width: 689px;
}

.phinstagram-logo-fill {
    height: 32px;
    margin-left: 21px;
    width: 32px;
}

.phone {
    align-self: center;
    height: 24px;
    line-height: 24px;
    margin-left: 151px;
    color: var(--scarpa-flow);
    font-weight: 400;
    margin-top: 7px;
    min-width: 130px;
    white-space: nowrap;
}

.made-with {
    align-self: flex-start;
    font-family: var(-font-family-eina03-semibold-);
    font-size: var(--font-size-x1); 
    color: var(--scarpa-flow);
    font-weight: 400;
    height: 24px;
    letter-spacing: 0;
    line-height: 24px; margin-left: 203px;
    white-space: nowrap;
}



.icbaseline-facebook {
    width: 32px;
    height: 32px;
}

.flex-row-1 {
    align-items: flex-start;
    display: flex;
    gap: 162px;
    min-width: 319px;
}

.follow-us {
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    width: 74px;
}

.contact-us {
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.image-2 {
    height: 104px;
    width: 108px;
}

.mask-group-1 {
    height: 37px;
    margin-bottom: 6.6px;
    margin-left: 14px;
    width: 42px;
}





/* !--------------- Finishes FOOTER Styling -------------- */

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: var(--white-color);
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .navbar .menu li a:not(.ingresar-btn, .donar-btn)::before {
        top: 32px;
    }
}