*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    --color-one: #D98729;
    --color-two: #00638C;
    --color-three: #C6EAFF;
    --color-four: #E4F3FB;

    /* thin-100, light-300, regular-400, medium-500, bold-700 */
    --font: "Montserrat", "Roboto", sans-serif;
}

@media screen and (min-width: 0px) {  /* Mobile */
    body {
        font-family: var(--font);
    }

    .adoptar {
        background-color: var(--color-three);
    }

    .adoptar-portada {
        opacity: 0.95;
        background-image: url(../img/img_adoptar_3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: grayscale(5%) saturate(90%);
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .adoptar-portada h1 {
        font-size: 28px;
        color: var(--color-four);
        letter-spacing: 1px;
        margin-left: 20px;
        text-shadow: .5px .5px 6px #000;
        font-weight: 700;
    }

    .adoptar-portada h3 {
        font-weight: 400;
        font-size: 16px;
        color: var(--color-four);
        letter-spacing: 0.4px;
        margin: 10px 0 40px 20px;
        text-shadow: 1px 1px 4px #000;
    }

    .adoptar-contenido {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .adoptar-contenido-titulo {
        text-align: center;
        font-size: 20px;
        color: var(--color-two);
        font-weight: 700;
    }

    .adoptar-contenido-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-four);
        border-radius: 10px;
        margin: 30px 50px;
        padding: 30px 20px;
    }

    .adoptar-contenido-info-texto {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .adoptar-contenido-info-texto i {
        color: var(--color-one);
        font-size: 40px;
        margin-bottom: 20px;
        order: 0;
    }

    .adoptar-contenido-info-texto p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: .2px;
        line-height: 24px;
        width: 90%;
        order: 0;
    }

    .adoptar-contenido-info-img {
        width: 50%;
        order: 0;
    }

    .adoptar-contenido-info-img img {
        width: 100%;
        height: 100%;
    }

    .button-1 {
        display: none;
    }

    .button {
        margin-top: 20px;
        color: var(--color-four);
        font-size: 18px;
        background-color: var(--color-one);
        border-radius: 6px;
        padding: 10px 20px;
        order: 0;
        border: 3px solid var(--color-one);
        transition: background-color 1s;
        cursor: pointer;
    }

    .button:hover {
        background-color: var(--color-four);
        color: var(--color-one);
        transition: background-color 0.5s;
    }
}

@media screen and (min-width: 768px){  /* Tablet */
    .adoptar-contenido-info {
        margin: 30px 100px;
    }
}


@media screen and (min-width: 1280px) {  /* Laptop */
    .adoptar-portada h1 {
        font-size: 36px;
        margin-left: 40px;
    }

    .adoptar-portada h3 {
        font-size: 24px;
        margin: 10px 0 40px 40px;
    }

    .adoptar-contenido-info {
        flex-direction: row;
        align-items: flex-start;
    }

    .adoptar-contenido-info-img {
        order: -1;
        width: 500px;
    }

    .adoptar-contenido-info-texto {
        align-items: flex-start;
        margin-left: 50px;
        margin-top: 20px;
    }

    .adoptar-contenido-info-texto p {
        text-align: start;
        margin-bottom: 0;
    }

    .button-1 {
        display: inline;
        margin-top: 50px;
    }

    .button-2 {
        display: none;
    }
}

@media screen and (min-width: 1920px) {  /* Desktop */
    .adoptar-contenido-titulo {
        font-size: 24px;
    }

    .adoptar-contenido-info-texto p {
        font-size: 16px;
    }

    .adoptar-contenido-info {
        margin: 30px 200px;
    }
}