body {
    font-family: var(--font);
}

.adoptar {
    background-color: var(--color-three);
}

.adoptar-portada {
    opacity: 0.95;
    background-image: url(../img/img_adoptar_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(5%) saturate(90%);
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.adoptar-portada h1 {
    font-size: 28px;
    color: var(--color-four);
    letter-spacing: 1px;
    margin-left: 20px;
    text-shadow: .5px .5px 6px #000;
    font-weight: 700;
}

.adoptar-portada h3 {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-four);
    letter-spacing: 0.4px;
    margin: 10px 0 40px 20px;
    text-shadow: 1px 1px 4px #000;
}

.adoptar-contenido {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: -10px;
}

.adoptar-contenido-titulo {
    text-align: center;
    font-size: 20px;
    color: var(--color-two);
    font-weight: 700;
}

hr {
    height: 0;
}

.adoptar-contenido-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 30px 15px;
}

.adoptar-contenido-info-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.adoptar-contenido-info-texto .home-logo {
    background-image: url('../img/adoptar/home-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-bottom: 17px;
}

.adoptar-contenido-info-texto .adoptar-textoInfo {
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.adoptar-contenido-info-img {
    width: 80%;
    order: 0;
}

.adoptar-contenido-info-img .adoptar-info-img {
    width: 100%;
    height: 100%;
}

.button-1 {
    display: none;
}

.button {
    margin-top: 20px;
    color: var(--color-four);
    font-size: 18px;
    background-color: var(--color-one);
    border-radius: 6px;
    padding: 10px 20px;
    order: 0;
    border: 3px solid var(--color-one);
    transition: background-color 1s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-four);
    color: var(--color-one);
    transition: background-color 0.5s;
}

.a-button {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    /* Tablet */
    .adoptar-contenido-info {
        margin: 30px 100px;
    }
    .adoptar-contenido-info-texto .home-logo {
        height: 50px;
        width: 50px;
        margin-left: 22px;
        margin-bottom: 20px;
    }
    .adoptar-contenido-info-texto .adoptar-textoInfo {
        font-size: 1.1rem;
        padding: 0px 22px ;
    }
    .adoptar-contenido-info-img {
        width: 65%;
        order: 0;
    }
}



@media screen and (min-width: 1136px) {
    .adoptar-contenido-info {
        flex-direction: row;
        align-items: center;
    }

    .adoptar-contenido-info-img {
        order: -1;
        width: 500px;
    }

    .adoptar-contenido-info-texto {
        align-items: flex-start;
        margin-left: 50px;
        margin-top: 20px;
    }

    .adoptar-contenido-info-texto .adoptar-textoInfo {
        text-align: start;
        margin-bottom: 0;
    }

    .button-1 {
        display: inline;
        margin-top: 50px;
        margin-left: 22px;
    }

    .button-2 {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    /* Laptop */
    .adoptar-portada {
        height: 600px;
        background-image: url('../img/adoptar/adoptarPortada.png');
    }
    .adoptar-portada h1 {
        font-size: 36px;
        margin-left: 40px;
    }

    .adoptar-portada h3 {
        font-size: 24px;
        margin: 10px 0 40px 40px;
    }

    .adoptar-contenido-info-texto .adoptar-textoInfo {
        max-width: 800px;
    }
}

@media screen and (min-width: 1920px) {
    /* Desktop */
    .adoptar-contenido-titulo {
        font-size: 2rem;
    }

    .adoptar-contenido-info {
        margin: 30px 200px;
    }
}