*{
   
    --color-one: #D98729;
    --color-two: #00638C;
    --color-three: #C6EAFF;

    /* thin-100, light-300, regular-400, medium-500, bold-700 */
    --font-family: 'Roboto', sans-serif;
    
}
button{
    background-color: var(--color-one);
    color:white;
    padding: 0.75rem;
    border-radius: 0.75em;
    margin: 0.75em;
    transition: all 0.3s;
    
   
}
button:hover {
    background-color: #D9872990;
    border: 1px solid #fff;
    }