

.contacto {
    background-color: white;
    padding: 30px;
}

.contacto-titulo {
    text-align: center;
    font-weight: 600;
}

.contacto-contenido div {
    margin: 40px auto;
}

.contacto-h6 {
    font-weight: 600;
    font-size: 16px;
}

.contacto-p {
    margin: 0;
    font-size: 0.9rem;
}

.contacto-icon {
    color: var(--color-one);
    font-size: 24px;
    margin-bottom: 10px;
}

.contacto-contenido-img img{
    border: 2px solid var(--color-one);
    height: fit-content;
    margin-top: -20px;
    width: 100%;
    max-width: 490px;
}


@media screen and (min-width: 0px) and (max-width: 767px) {  /*Mobile*/

    .contacto-contenido {
        text-align: center;
    }

    .contacto-contenido-img {
        width: 80%;
    }
    .contacto-contenido-img img{
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {  /*Tablet*/

    .contacto-contenido {
        text-align: center;
    }

    .contacto-contenido-img {
        width: 50%;
    }
    .contacto-contenido-img img{
        height: unset;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {  /*Laptop*/
    .contacto-contenido-img {
        width: 50%;
    }

    .contacto-h6 {
        font-size: 15px;
        display: inline;
        margin-right: 5px;
    }

    .contacto-icon {
        font-size: 25px;
        display: inline;
        margin-right: 10px;
    }

    .contacto-icon-email {
        margin-right: 1rem;
    }

    .contacto-p {
        font-size: 17px;
    }

    .contacto-contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,150px);
        width: 70%;
        margin: 0 auto;
    }

    .contacto-contenido-img {
        grid-column: 2/3;
        grid-row: 1/4;
        width: 100%;
        display: flex;
    }

    .contacto-contenido-img img {
        object-fit: contain;
    }

    .contacto-contenido-ubicacion {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }

    .contacto-contenido-telefonos {
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
        top: -10px;
        text-align: center;
    }

    .contacto-contenido-email {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
}

@media screen and (min-width: 1920px) {  /*Desktop*/
    .contacto-contenido-img {
        width: 50%;
    }

    .contacto-h6 {
        font-size: 17px;
        display: inline;
    }

    .contacto-icon {
        font-size: 25px;
        display: inline;
        margin-right: 10px;
    }

    .contacto-icon-email {
        margin-right: 1.7rem;
    }

    .contacto-p {
        font-size: 17px;
    }

    .contacto-contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,150px);
        width: 60%;
        margin: 0 auto;
    }

    .contacto-contenido-img {
        grid-column: 2/3;
        grid-row: 1/4;
        width: 90%;
        display: flex;
    }

    .contacto-contenido-img img {
        object-fit: contain;
    }

    .contacto-contenido-ubicacion {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }

    .contacto-contenido-telefonos {
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
        top: -10px;
        text-align: center;
    }

    .contacto-contenido-email {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
}