*{

    /* thin-100, light-300, regular-400, medium-500, bold-700 */
    --font-family: 'Roboto', sans-serif;
    
}
/* :root {
    --fa-style-family-classic:  'Roboto', sans-serif;
    --fa-font-solid: normal 900 1em/1 'Roboto', sans-serif;
} */

.text--center .title-donar{
    background-image: url("https://i.pinimg.com/originals/a9/bb/1c/a9bb1c177a9b21359870a4a78ef1666f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
  
}

.tittle-donar{
   /*  margin: 3rem; */
  
}

.title-donar h3{
    color: #00638C;
    padding-top: 1.5rem ;
    
}
.p-d{
    color:black;
    text-decoration:solid;
    font-size: 15px;
}
.p-d strong{
    color: #00638C;
    padding-top: 1.5rem ;
}
.p-d-n {
    color: #00638C;
    padding-top: 1.5rem;
}
.title-donar span{
    color: #fff;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.title-donar button{
    color: #fff;
    width: 20%;
}

