.donar{
    background-color: var(--color-four);
    padding-top: 4rem;;
    padding-bottom: 4rem;
}

.titulo-donar{
    text-align: center;
}

.cuerpo-donar{
    margin-top: 4rem;
}

.opcion-donar{
    border-radius: 7px;
    background-color: white;
    text-align: center;
    height: 150px;
}

.opcion-donar h5{
    color: var(--color-two);
    padding-top: 20px;
    padding-left: 1px;
}

#modalInsumos {
    text-align: left;
}

.mercado_libre{

    padding-bottom: 4rem;
}


.donar_modal_cerrar{
  background-color: white;
  background-image: url(../img/rescatados/modal-close.png);
  background-position: right;
}

.donar_modal_cerrar:hover{
    background-color: whitesmoke;
}

@media (max-width: 1200px){
    .opcion-donar h5{
        font-size: 17px;
    }

    .opcion-donar {
        height: 160px;
    }

    .opcion-donar button{
        font-size: 15px;
    }
}

@media (max-width: 991px){
    .opcion-donar {
        height: 160px;
        margin-bottom: 20px;
    }
    .opcion-donar h5{
        font-size: 25px;
    }
    .donar-modals h3{
        font-size: 35px;
    }
    .donar-modals p{
        font-size: 20px;
    }
}

@media (max-width: 426px){
    .opcion-donar h5{
        font-size: 20px; 
    }

    .donar-modals h3{
       font-size: 25px; 
    }

    .donar-modals p{
        font-size: 15px; 
     }
     
    .donar-modals h5{
        font-size: 15px; 
    }
    .titulo-donar h3{
        font-size: 25px; 
    }
    .titulo-donar h5{
        font-size: 15px; 
    }
}

@media (max-width: 375px){
    .mercado_libre{
        width: 100%;
    }
}