/* Header */
.nabar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-two);
}

.nabar ul li {
  float: right;
}

.nabar li a {
  display: block;
  color: white;
  text-align: center;
  margin: 14px 8px;
  padding-top: 6px;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: 14px;
  font: var(--font);
}

.nabar .redes {
  margin-right: 9px;
  width: auto;
  height: 15px;
}

.nabar .redes:hover {
  filter: invert(58%) sepia(98%) saturate(934%) hue-rotate(345deg)
    brightness(92%) contrast(84%);
}

.nabar .logo {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.nabar .options:hover {
  color: var(--color-one);
}

.nabar .adoptar_donar {
  margin: 12px 8px;
  border: 2px solid var(--color-one);
  padding: 5px 20px;
  border-radius: 5px;
}

.adoptar_donar.donar {
  background-color: var(--color-one);
  color: white;
}

.adoptar_donar:hover {
  background-color: var(--color-one);
  color: white;
  filter: opacity(0.8);
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- WHATSAPP ICON inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
.wpp {
  padding: 5px 0px 20px 0px;
  color: white;
  position: fixed;
  text-decoration: none;
  background-color: #00e677;
  border: 2px solid #00e677;
  border-radius: 50px;
  bottom: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
  z-index: 2;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.wpp::after {
  content: "";
  position: absolute;
  left: 60%;
  border-top: 20px solid blue;
  border-top-color: inherit;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.wpp_img {
  position: absolute;
  width: 55px;
  bottom: 11px;
  left: 11px;
}

.wpp:hover {
  filter: brightness(1.2);
}

.wpp .wpp_texto {
  display: none;
  position: relative;
  bottom: 2px;
  padding-top: 5px;
  font-size: 14px;
  margin-right: 20px;
  float: right;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100px;
  font-weight: 700;
}
/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- WHATSAPP ICON final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */



/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
.nosotros {
  background-color: var(--color-three);
}

.nosotros_principal {
  background-image: url(../img/fondo-nosotros.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 240px;
  padding: 35px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.nosotros_principal_titulo {
  height: 70%;
  color: white;
  margin-bottom: 30px;
  max-height: 110px;
}

.nosotros_principal_titulo h1 {
  font-size: 1.2rem;
  padding-right: 45%;
  font-weight: 700;
}

.nosotros_principal_titulo p {
  font-size: 0.6rem;
  padding-right: 45%;
}

.nosotros_second {
  background-color: var(--color-three);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

.nosotros_second .row i {
  color: var(--color-two);
  font-size: 20px;
}

.nosotros_second .row h4 {
  color: var(--color-two);
  font-size: 20px;
  font-weight: 500;
}

.nosotros_second .row p {
  color: var(--color-two);
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  padding: 0%;
}

.nosotros_second p {
  color: var(--color-two);
  font-size: 12px;
  font-weight: 500;
  padding: 15px;
}

.sobre_nosotros {
  background-image: url(../img/Union.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  padding: 20px 12px 17px 12px;
  height: fit-content;
}

.sobre_nosotros .sobre {
  display: grid;
  align-items: center;
}

.sobre_nosotros .sobre .sobre_title {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
}

.sobre_nosotros .sobre .sobre_line {
  text-align: center;
  margin-bottom: 12px;
  color: white;
}

.sobre_nosotros .sobre .sobre_text_container .sobre_text {
  font-size: 0.7rem;
  text-align: center;
  color: white;
}
/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
.rescatados {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
}

.rescatado_sentence {
  color: var(--color-two);
  width: fit-content;
  font-size: 1rem;
  padding: 1.6rem 2rem 1rem 2rem;
  text-align: center;
  margin-bottom: 0px;
}

.rescatado_textLine {
  background-color: var(--color-two);
  width: 15%;
  height: 4px;
  margin-bottom: 20px;
}

.rescatado_imageContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rescatado_imageContainer .rescatado_image {
  background-image: url("https://www.yourhorse.co.uk/wp-content/uploads/sites/6/vet-lethargy-.jpg");
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0px 0px 10px 0px;
  padding: 0;
  border-radius: 0px;
}

.rescatado_imageContainer .rescatado_image:hover {
  filter: grayscale(65%);
}

.rescatado_imageContainer .rescatado_image .rescatado_Name {
  background-color: var(--color-two);
  color: white;
  margin: 0;
  width: fit-content;
  padding: 3px 55px;
}

.rescatado_imageContainer .rescatado_image .rescatado_NameHover {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  opacity: 0;
  display: block;
}

.modal .modal-dialog .modal-content {
  border-radius: 15px;
  padding: 3px;
  overflow: hidden;
}
.modal-sm {
  max-width: 500px;
}
.modal .modal-dialog .modal-content .flexContain {
  display: flex;
}
.modal .modal-dialog .modal-content .flexContain .modalImageContainer {
  display: none;
}
.modal .modal-dialog .modal-content .flexContain .modalInfo .modalHeader {
  display: flex;
}
.modal
  .modal-dialog
  .modal-content
  .flexContain
  .modalInfo
  .modalHeader
  .modalTitleContainer {
  padding: 19px 0px 0px 10px;
}
.modal
  .modal-dialog
  .modal-content
  .flexContain
  .modalInfo
  .modalHeader
  .modalTitleContainer
  .modalTitle {
  color: var(--color-two);
  font-weight: 700;
  font-size: 1.2rem;
}
.modal
  .modal-dialog
  .modal-content
  .flexContain
  .modalInfo
  .modalHeader
  .modalExit {
  display: flex;
  justify-content: flex-end;
}
.modal
  .modal-dialog
  .modal-content
  .flexContain
  .modalInfo
  .modalHeader
  .modalExit
  .btnCloseModal {
  background-color: transparent;
  background-image: url(../img/rescatados/modal-close.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.modal .modal-dialog .modal-content .flexContain .modalInfo .modalBody {
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
}
.modal
  .modal-dialog
  .modal-content
  .flexContain
  .modalInfo
  .modalBody
  .textModalBody {
  font-size: 0.8rem;
}
.modal
  .modal-dialog
  .modal-content
  .flexContain
  .modalInfo
  .modalButton
  .btnModalInfo {
  background-color: var(--color-one);
  margin-left: 10px;
  margin-bottom: 10px;
}
.rescatados .rescatados_footer {
  text-align: center;
  padding: 30px;
  font-size: 0.8rem;
}
/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */

/* ############################################################## MEDIA QUERY - Tablet 768px - ############################################################## */
@media (min-width: 768px) {
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
  .nosotros_principal {
    padding: 70px;
    height: 400px;
  }

  .nosotros_principal .nosotros_principal_titulo {
    margin-bottom: 50px;
    max-height: 150px;
  }

  .nosotros_principal .nosotros_principal_titulo h1 {
    font-size: 2rem;
  }

  .nosotros_principal .nosotros_principal_titulo p {
    font-size: 0.9rem;
    padding-right: 50%;
  }

  .nosotros_second .icon i {
    color: var(--color-two);
    font-size: 30px;
  }

  .nosotros_second .row h4 {
    color: var(--color-two);
    font-size: 25px;
    font-weight: 700;
  }

  .nosotros_second .row p {
    font-size: 15px;
  }

  .nosotros_second p {
    color: var(--color-two);
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
  }

  .sobre_nosotros {
    padding: 40px 30px 35px 30px;
  }
  
  .sobre_nosotros .sobre {
    display: grid;
    align-items: center;
  }
  
  .sobre_nosotros .sobre .sobre_title {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }
  
  .sobre_nosotros .sobre .sobre_line {
    margin-bottom: 15px;
  }
  
  .sobre_nosotros .sobre .sobre_text_container .sobre_text {
    font-size: 0.9rem;
  }

  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */

  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
  .rescatado_imageContainer .rescatado_image {
    margin: 0px;
  }
  .rescatado_sentence {
    font-size: 1.5rem;
  }
  .modal .modal-dialog .modal-content {
    border-radius: 10px;
  }
  .modal-sm {
    /* bootstrap5 selector */
    max-width: 800px;
  }
  .modal .modal-dialog .modal-content .flexContain .modalImageContainer {
    display: initial;
    padding: 30px;
    display: grid;
    place-items: center;
  }
  .modal
    .modal-dialog
    .modal-content
    .flexContain
    .modalImageContainer
    .modalHorseImage {
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
  .modal
    .modal-dialog
    .modal-content
    .flexContain
    .modalInfo
    .modalBody
    .textModalBody {
    font-size: 1rem;
  }
  .rescatados .rescatados_footer {
    padding-top: 40px;
    font-size: 1rem;
  }
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
}

/* ############################################################## MEDIA QUERY - Laptop 1280px - ##############################################################*/
@media (min-width: 1280px) {
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
  .nosotros_principal {
    width: 100%;
    height: 600px;
  }

  .nosotros_principal .nosotros_principal_titulo {
    max-height: 250px;
    margin-left: 50px;
  }

  .nosotros_principal .nosotros_principal_titulo h1 {
    font-size: 3.5rem;
  }

  .nosotros_principal .nosotros_principal_titulo p {
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 64%;
    margin-bottom: 10px;
  }

  .nosotros_second {
    display: inline-flex;
    flex-direction: row-reverse;
    height: 300px;
    padding-left: 40px;
  }

  .nosotros_second .row {
    display: flex;
    width: 60%;
    justify-content: center;
    text-align: center;
  }

  .nosotros_second .row i {
    font-size: 30px;
  }

  .nosotros_second .row .icon {
    flex-direction: row;
    width: 20%;
    height: 150px;
    justify-content: center;
    text-align: center;
  }

  .nosotros_second .row .icon .p-icon {
    color: var(--color-two);
    font-size: 15px;
    font-weight: 500;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }

  .nosotros_second .row .icon h4 {
    font-size: 30px;
    font-weight: 700;
  }

  .nosotros_second .p-nosotros-second {
    font-size: 22px;
    font-weight: 500;
    width: 30%;
    text-align: left;
    padding-left: 55px;
    margin: 0;
  }

  .sobre_nosotros {
    display: grid;
    place-items: center;
    padding: 0;
    height: 645px;
  }
  
  .sobre_nosotros .sobre {
    display: grid;
    place-items: center;
    width: 948px;
    height: fit-content;
  }
  
  .sobre_nosotros .sobre .sobre_title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }
  
  .sobre_nosotros .sobre .sobre_line {
    margin-bottom: 25px;
  }
  
  .sobre_nosotros .sobre .sobre_text_container .sobre_text {
    font-size: 1.1rem;
  }
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */

  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
  .rescatado_imageContainer {
    max-width: 1090px;
    padding: 10px;
  }

  .rescatado_imageContainer .rescatado_image {
    width: 350px;
    height: 350px;
    display: grid;
    place-items: center;
  }

  .rescatado_imageContainer .rescatado_image:hover .rescatado_NameHover {
    padding: 3px;
    width: fit-content;
    opacity: 1;
  }

  .rescatado_imageContainer .rescatado_image .rescatado_Name {
    display: none;
  }
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */

  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- WHATSAPP ICON inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
  .wpp {
    width: 180px;
    height: 60px;
  }

  .wpp::after {
    display: none;
  }

  .wpp_img {
    position: absolute;
    width: auto;
    bottom: 5px;
    left: 12px;
  }

  .wpp .wpp_texto {
    display: block;
  }
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- WHATSAPP ICON final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
}

/* ############################################################## MEDIA QUERY - Desktop 1920px - ##############################################################*/
@media (min-width: 1920px) {
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
  .nosotros_principal {
    width: 100%;
    height: 750px;
    padding: 90px;
  }
  .nosotros_principal .nosotros_principal_titulo {
    max-height: 200px;
    margin-bottom: 100px;
    padding-left: 50px;
  }
  .nosotros_principal .nosotros_principal_titulo h1 {
    font-size: 4rem;
  }
  .nosotros_principal .nosotros_principal_titulo p {
    font-size: 1.7rem;
    font-weight: 500;
    padding-right: 64%;
    margin-bottom: 30px;
  }
  .nosotros_second {
    display: inline-flex;
    flex-direction: row-reverse;
    height: 300px;
    padding-left: 200px;
  }
  .nosotros_second .row {
    display: flex;
    width: 60%;
    justify-content: center;
    text-align: center;
  }
  .nosotros_second .row i {
    font-size: 30px;
  }
  .nosotros_second .row .icon {
    flex-direction: row;
    width: 20%;
    height: 150px;
    justify-content: center;
    text-align: center;
  }

  .nosotros_second .row .icon .p-icon {
    color: var(--color-two);
    font-size: 15px;
    font-weight: 500;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }
  .nosotros_second .row .icon h4 {
    font-size: 40px;
    font-weight: 700;
  }

  .nosotros_second .p-nosotros-second {
    font-size: 22px;
    font-weight: 500;
    width: 30%;
    text-align: left;
    padding-left: 55px;
    margin: 0;
  }
  .sobre_nosotros {
    height: 600px;
  }
  .sobre_nosotros .sobre h3 {
    padding-top: 25px;
    font-size: 40px;
  }
  .sobre_nosotros .sobre span {
    font-size: 35px;
  }
  .sobre_nosotros .sobre .row p {
    padding: 30px;
    margin: 0px 45px;
    font-size: 1.3rem;
    width: 80%;
    padding-left: 300px;
  }
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- NOSOTROS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */

  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS inicio +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
  /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- RESCATADOS final +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
}
/* ############################################################## MEDIA QUERY ############################################################## */
@media all and (min-width: 768px) and (max-width: 1279px) {
  footer {
    background-image: url("../img/footer-tablet.png");
  }
}
