.voluntariado{
    background-color: var(--color-three);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
    padding: 40px 10px;
}

.voluntariado-title {
    font-weight: 700;
    font-size: 1.5rem;
}

h3{
    color: var(--color-two);
    padding-top: 1.5rem ;
    
}
span{
    color: var(--color-two);
    font-weight: bolder;
    margin-bottom: 2rem;
}

.container {
    padding: 0 30px;
}

.voluntariado-p {
    margin-bottom: 0;
}

.voluntariado-title {
    font-weight: 700;
}

.voluntariado-h4 {
    font-weight: 700;
}

.voluntariado-button {
    width: 200px;
    margin: 0 auto 60px;
    background-color: var(--color-one);
    border-color: transparent;
    display: grid;
    place-items: center;
}
.voluntariado-button .text-button-voluntariado{
    margin: 0;
    padding: 0;
}
.voluntariado-button:hover {
    background-color: var(--color-one);
    border-color: transparent;
}

.container-div {
    margin-bottom: 30px;
    margin-top: 10px;
}

.container-div-2 {
    margin-top: 30px;
}

.voluntariado-img {
    margin: 30px 0;
}

.container-p {
    margin-bottom: 20px;
}


/* Icons */
.bi::before {
    color: var(--color-one);
    font-size: 2.5rem;
    margin: 0.7rem;
}

.voluntariado {
    margin-top: 3rem;
    border-radius: 100%/3rem;
}

@media screen and (min-width: 768px){
    .container-div-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 30px 30px;
    }

    .voluntariado-container-img {
        grid-column: 1/2;
        grid-row: 1/5;
        width: 100%;
    }

    .container-p {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 60px;
        text-align: start;
        margin-left: 60px;
        width: 90%;
    }

    .voluntariado-strong {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: start;
        margin-left: 60px;
    }

    .voluntariado-button {
        height: 48px;
        grid-row: 4/5;
        margin-top: 20px;
        margin-left: 70px;
    }

    .voluntariado-areas {
        padding-top: 2rem;
    }

    .voluntariado {
        background-color: white;
        margin-top: 3rem;
        border-radius: 0;
    }

    .voluntariado-contenido {
        background-color: var(--color-three);
        width: 97%;
        margin: auto;
        margin-top: 2rem;
        padding-bottom: 4rem;
        border-radius: 0.6rem;
    }
}


@media screen and (min-width: 1280px) {

    .voluntariado-areas {
        padding-top: 2rem;
    }

    .voluntariado {
        background-color: white;
        margin-top: 3rem;
    }

    .voluntariado-contenido {
        background-color: var(--color-three);
        width: 97%;
        margin: auto;
        margin-top: 2rem;
        padding-bottom: 4rem;
        border-radius: 0.6rem;
    }
}

@media screen and (min-width: 1920px) {
    .voluntariado-areas {
        padding-top: 2rem;
    }

    .voluntariado {
        background-color: white;
        margin-top: 3rem;
        border-radius: 0;
    }

    .voluntariado-contenido {
        background-color: var(--color-three);
        width: 97%;
        margin: auto;
        margin-top: 2rem;
        padding-bottom: 4rem;
        border-radius: 0.6rem;
    }
}